<!DOCTYPE html>
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="http://cmpe.sjsu.edu/sites/all/themes/sjsu/favicon.ico" />
  
<style>
@import url("http://cmpe.sjsu.edu/sites/all/libraries/datatables/media/css/demo_table.css?nfcn37");
</style>
<style>
@import url("http://cmpe.sjsu.edu/sites/all/modules/calendar/css/calendar_multiday.css?nfcn37");
@import url("http://cmpe.sjsu.edu/sites/all/modules/date/date_api/date.css?nfcn37");
@import url("http://cmpe.sjsu.edu/sites/all/modules/date/date_popup/themes/datepicker.1.7.css?nfcn37");
@import url("http://cmpe.sjsu.edu/sites/all/modules/date/date_repeat_field/date_repeat_field.css?nfcn37");
@import url("http://cmpe.sjsu.edu/sites/all/modules/video_filter/video_filter.css?nfcn37");
@import url("http://cmpe.sjsu.edu/sites/all/modules/workflow/workflow_admin_ui/workflow_admin_ui.css?nfcn37");
@import url("http://cmpe.sjsu.edu/sites/all/modules/ckeditor/css/ckeditor.css?nfcn37");
</style>
<style>
@import url("http://cmpe.sjsu.edu/sites/all/themes/sjsu/assets/css/sjsu-bootstrap.css?nfcn37");
@import url("http://cmpe.sjsu.edu/sites/all/themes/sjsu/assets/css/sjsu.css?nfcn37");
@import url("http://cmpe.sjsu.edu/sites/all/themes/sjsu/assets/css/sjsu-drupal.css?nfcn37");
</style>
<style>
@import url("http://cmpe.sjsu.edu/files/public/css_injector/css_injector_1.css?nfcn37");
@import url("http://cmpe.sjsu.edu/files/public/css_injector/css_injector_2.css?nfcn37");
@import url("http://cmpe.sjsu.edu/files/public/css_injector/css_injector_3.css?nfcn37");
@import url("http://cmpe.sjsu.edu/files/public/css_injector/css_injector_4.css?nfcn37");
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='/sites/all/modules/jquery_update/replace/jquery/1.8/jquery.min.js'>\x3C/script>")</script>
<script src="http://cmpe.sjsu.edu/misc/jquery.once.js?v=1.2"></script>
<script src="http://cmpe.sjsu.edu/misc/drupal.js?nfcn37"></script>
<script src="http://cmpe.sjsu.edu/sites/all/libraries/datatables/media/js/jquery.dataTables.js?v=1.9"></script>
<script src="http://cmpe.sjsu.edu/sites/all/modules/datatables/js/datatables.js?v=1.9"></script>
<script>Drupal.settings.ais = [{"name":"threshold-480","size":480},{"name":"threshold-768","size":768},{"name":"threshold-992","size":992},{"name":"threshold-1382","size":1382}];
Drupal.settings.ais_method = "both-max";</script>
<script src="http://cmpe.sjsu.edu/sites/all/modules/ais/assets/js/ais.js?nfcn37"></script>
<script src="http://cmpe.sjsu.edu/sites/all/modules/geo_filter/geo_filter.js?nfcn37"></script>
<script src="http://cmpe.sjsu.edu/sites/all/modules/google_analytics/googleanalytics.js?nfcn37"></script>
<script>(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create", "UA-37062997-2", "auto");ga("send", "pageview");</script>
<script src="http://cmpe.sjsu.edu/sites/all/themes/sjsu/assets/js/vendor/bootstrap.min.js?nfcn37"></script>
<script src="http://cmpe.sjsu.edu/sites/all/themes/sjsu/assets/js/vendor/bootstrap-hover-dropdown.min.js?nfcn37"></script>
<script src="http://cmpe.sjsu.edu/sites/all/themes/sjsu/assets/js/sjsu.min.js?nfcn37"></script>
<script>jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"sjsu","theme_token":"WXlt6kVVZDa7J836pv2W-9Tqr1uhihTqJZeHf_iBRQQ","js":{"sites\/all\/modules\/picture\/picturefill\/matchmedia.js":1,"sites\/all\/modules\/picture\/picturefill\/picturefill.js":1,"sites\/all\/modules\/picture\/picture.js":1,"https:\/\/ajax.googleapis.com\/ajax\/libs\/jquery\/1.8.2\/jquery.min.js":1,"0":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"sites\/all\/libraries\/datatables\/media\/js\/jquery.dataTables.js":1,"sites\/all\/modules\/datatables\/js\/datatables.js":1,"1":1,"ais\/assets\/js\/ais.js":1,"sites\/all\/modules\/geo_filter\/geo_filter.js":1,"sites\/all\/modules\/google_analytics\/googleanalytics.js":1,"2":1,"sites\/all\/themes\/sjsu\/assets\/js\/vendor\/bootstrap.min.js":1,"sites\/all\/themes\/sjsu\/assets\/js\/vendor\/bootstrap-hover-dropdown.min.js":1,"sites\/all\/themes\/sjsu\/assets\/js\/sjsu.min.js":1},"css":{"sites\/all\/libraries\/datatables\/media\/css\/demo_table.css":1,"sites\/all\/modules\/calendar\/css\/calendar_multiday.css":1,"sites\/all\/modules\/date\/date_api\/date.css":1,"sites\/all\/modules\/date\/date_popup\/themes\/datepicker.1.7.css":1,"sites\/all\/modules\/date\/date_repeat_field\/date_repeat_field.css":1,"sites\/all\/modules\/video_filter\/video_filter.css":1,"sites\/all\/modules\/workflow\/workflow_admin_ui\/workflow_admin_ui.css":1,"sites\/all\/modules\/ckeditor\/css\/ckeditor.css":1,"sites\/all\/themes\/sjsu\/assets\/css\/sjsu-bootstrap.css":1,"sites\/all\/themes\/sjsu\/assets\/css\/sjsu.css":1,"sites\/all\/themes\/sjsu\/assets\/css\/sjsu-drupal.css":1,"public:\/\/css_injector\/css_injector_1.css":1,"public:\/\/css_injector\/css_injector_2.css":1,"public:\/\/css_injector\/css_injector_3.css":1,"public:\/\/css_injector\/css_injector_4.css":1}},"video_filter":{"url":{"ckeditor":"\/video_filter\/dashboard\/ckeditor"},"modulepath":"sites\/all\/modules\/video_filter"},"datatables":{"#datatable-1":{"aoColumns":[{"bSortable":false},{"bSortable":false},{"bVisible":false,"bSortable":true},{"bVisible":false,"bSortable":true},{"bSortable":false}],"aoColumnHeaders":["","Name","First","Last","Contact Information"],"bInfo":0,"bFilter":1,"bStateSave":0,"bLengthChange":0,"iDisplayLength":50,"bAutoWidth":0,"bPaginate":false}},"googleanalytics":{"trackOutbound":1,"trackMailto":1,"trackDownload":1,"trackDownloadExtensions":"7z|aac|arc|arj|asf|asx|avi|bin|csv|doc|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls|xml|z|zip","trackCrossDomains":["cmpe.sjsu.edu","www.cmpe.sjsu.edu","ms.cmpe.sjsu.edu","www.ms.cmpe.sjsu.edu","bs.cmpe.sjsu.edu","www.bs.cmpe.sjsu.edu"]},"clientsideValidation":{"general":{"months":{"January":1,"Jan":1,"February":2,"Feb":2,"March":3,"Mar":3,"April":4,"Apr":4,"May":5,"June":6,"Jun":6,"July":7,"Jul":7,"August":8,"Aug":8,"September":9,"Sep":9,"October":10,"Oct":10,"November":11,"Nov":11,"December":12,"Dec":12}}}});</script>
<meta name="application-name" content="Computer Engineering" />
<meta name="msapplication-TileColor" content="#0F6FA2" /> 
<meta name="msapplication-TileImage" content="/sites/all/themes/sjsu/assets/img/tile.png" />
<meta name="msapplication-tap-highlight" content="no" />
<meta http-equiv="cleartype" content="on" />
<link rel="apple-touch-icon-precomposed" sizes="158x158" href="/sites/all/themes/sjsu/assets/img/apple-touch-icon-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/sites/all/themes/sjsu/assets/img/apple-touch-icon-152x152-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/sites/all/themes/sjsu/assets/img/apple-touch-icon-144x144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/sites/all/themes/sjsu/assets/img/apple-touch-icon-120x120-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/sites/all/themes/sjsu/assets/img/apple-touch-icon-114x114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/sites/all/themes/sjsu/assets/img/apple-touch-icon-72x72-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/sites/all/themes/sjsu/assets/img/apple-touch-icon-72x72-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/sites/all/themes/sjsu/assets/img/apple-touch-icon.png" />
<link rel="apple-touch-icon-precomposed" href="/sites/all/themes/sjsu/assets/img/apple-touch-icon.png" />
<link rel="shortcut icon" href="/sites/all/themes/sjsu/assets/img/favicon.ico" type="image/x-icon" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
</head>

<body style = "background-image:url(mintyellow.jpg)" >
  

<div id="container" class="container">
  <div id="main" class="row">
    
     <div id="frame">
        <div class="clear"></div>
    <header class="row nomargins">
  <nav class="navbar navbar-default hidden-print" role="navigation">
    <div id="top" class="navbar-header col-sm-12">
      <div class="row nomargins">
        <div class="col-xs-10 col-sm-9 nopadding">
          <h1>
            <a href="/">
                          ENERGY ANALYTICS                        </a>
          </h1>
          
        </div>
        <div class="col-xs-2 visible-xs nopadding">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="clearfix visible-xs">
        </div>
                <div id="navigation" class="collapse navbar-collapse">
<div id="block-menu-block-1" class="block block-menu-block">
        <div class="content">
     <div class="visible-print">
    <h1>
              ENERGY VISUALIZER         </h1>
    
  </div>
</header>
<div id="page" class="row nomargins">
  <div class="col-md-12 nopadding">
    <div id="highlight">
              <div class="tabs clearfix">
        </div> <!-- .tabs -->
                </div> <!-- #highlight -->
    <div class="flex">
            <article id="content" role="main" class="hentry">
                      <h2 class="entry-title">
          About Us        </h2>
                <div class="entry-content">
                      <div class="region region-content">
    <div id="block-system-main" class="block block-system">
        <div class="content">
    <div class="view view-faculty-staff view-id-faculty_staff view-display-id-page view-dom-id-5d8f238db546579550eb95d404733009">
            <div class="view-header">
      
  
  
      <div class="view-content">
      <table id="datatable-1" class="views-table cols-5 display">
    <thead>
    <tr>
              <th class="views-field views-field-field-photo">
                  </th>
              <th class="views-field views-field-title">
          Name        </th>
              <th class="views-field views-field-field-name">
          First        </th>
              <th class="views-field views-field-field-name-1">
          Last        </th>
              <th class="views-field views-field-field-email">
          Contact Information        </th>
          </tr>
  </thead>
  <tbody>
          <tr class="odd views-row-first">
                  <td class="views-field views-field-field-photo">
            <img class="img-thumbnail mugshot" typeof="foaf:Image" src="stylesheets\images\xyz.jpg?itok=9smRlJLb" width="300" height="452" alt="" /></a>          </td>
                  <td class="views-field views-field-title">
            <a href="/content/xiao-su">Jainam Shah</a><div>
  <div class="field-job-title">
    Software Engineering Graduate Student  </div>
</div>
  <div class="field-note">
    
          </td>
                  <td class="views-field views-field-field-name">
            Jainam          </td>
                  <td class="views-field views-field-field-name-1">
            Shah          </td>
                  <td class="views-field views-field-field-email">
            <div><a href="shah:jainam.su@sjsu.edu">jainam.shah@sjsu.edu</a></div>(669) 221-9825
  
          </td>
              </tr>
              
          <tr class="even">
                  <td class="views-field views-field-field-photo">
            <img class="img-thumbnail mugshot" typeof="foaf:Image" src="\stylesheets\images\dev.jpg?itok=X85eNpb5" width="300" height="452" alt="" /></a>          </td>
                  <td class="views-field views-field-title">
            <a href="/content/devandra-ramchandani">Devandra Ramchandani</a><div>SJSU-SE Graduate Student</div>
  <div class="field-note">
    
          </td>
                  <td class="views-field views-field-field-name">
            Devandra          </td>
                  <td class="views-field views-field-field-name-1">
            Ramchandani          </td>
                  <td class="views-field views-field-field-email">
            <div><a href="mailto:ramchandani.devandra@sjsu.edu">devandra.ramchandani@sjsu.edu</a></div>(408) 924-4195
  
          </td>
              </tr>
              
              
          <tr class="odd">
                  <td class="views-field views-field-field-photo">
            <img class="img-thumbnail mugshot" typeof="foaf:Image" src="\stylesheets\images\dha.jpg?itok=X85eNpb5" width="300" height="452" alt="" /></a>         </td>
                  <td class="views-field views-field-title">
            <a href="/content/dhawal-sawla">Dhawal Sawla</a><div>
  <div class="field-job-title">
    SJSU-SE Graduate Student  </div>
</div>
  
          </td>
                  <td class="views-field views-field-field-name">
            Dhawal          </td>
                  <td class="views-field views-field-field-name-1">
            Sawla          </td>
                  <td class="views-field views-field-field-email">
            <div><a href="mailto:dhawal.sawla@sjsu.edu">dhawal.sawla@sjsu.edu</a></div>(669) 300-7697
          </td>
              </tr>
              
          <tr class="even">
                  <td class="views-field views-field-field-photo">
            <img class="img-thumbnail mugshot" typeof="foaf:Image" src="\stylesheets\images\NI.png?itok=X85eNpb5" width="300" height="452" alt="" /></a>         </td>
                  <td class="views-field views-field-title">
            <a href="/content/rod-fatoohi">Jauvariah Sarwath</a><div>
  <div class="field-job-title">
    SJSU-SE GRADUATE STUDENT  </div>
</div>
  <div class="field-note">
    
   </div>
          </td>
                  <td class="views-field views-field-field-name">
            Jauvariah          </td>
                  <td class="views-field views-field-field-name-1">
            Sarwath          </td>
                  <td class="views-field views-field-field-email">
            <div><a href="mailto:jauvariah.sarwath@sjsu.edu">jauvariah.sarwath@sjsu.edu</a></div>(408) 924-4059
          </td>
              </tr>
              
               </tbody>
</table>
    </div>
  
    
</div>  </div>
</div>
  </div>
                  </div>
      </article> <!-- #content -->
            </body>
</html>