<!DOCTYPE html>
<html>
  <head>
    <title>Energy Analytics</title>
    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="stylesheets/main.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>



    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>    
  </head>
  <body>
  
  <!-- Header Part -->
   <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Energy Analytics</a>
			<br>
			<div id="navigation">
<a href="/">HOME &nbsp;&nbsp;&nbsp;</a>
    		<a href="/householdanalysis">OVERALL US ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/energyanalysis">STATE WISE ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/sectorAnalysis">SECTOR WISE ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/geo">GEOGRAPHICAL ENERGY PRODUCTION &nbsp;&nbsp;&nbsp;</a>
    		<a href="/electriccar">ELECTRIC CAR ENERGY ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/solarpanel">SOLAR PANEL ENERGY ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/about">About Us</a>
    		</div>
    		</div>
      </div>
    </div>
    
 <!-- Dynamic part to be changed page wise -->   
<center>
<h2>Team 20</h2><br><br>

<h1>Dhawal Sawla </h1>
<h1>Jauvariah Sarwath</h1>
<h1>Jainam Shah</h1>
<h1>Devandra Raju</h1>


<br><br>
</center>


<br><br>
<!-- Footer code  -->
<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>Copyright</h4>
					<p>
						TEAM - 20 <br>
						CMPE-272 <br>
						San Jose State University <br>
						Fall-2014
						
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<!--h4>My Links</h4>
					< p>
						
						<a href="http://twitter.com">Follow us on Twitter</a><br/>
						<a href="http://facebook.com">Like us on Facebook</a>
					</p -->
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>About Energy Analytics</h4>
          <p>Energy Analytics can help you to understand energy usage of US. It will help you to prioritize where and how to improve through providing various solutions.</p>
				</div><!-- /col-lg-4 -->
			
			</div>
		
		</div>
	</div>

  </body>
</html>