<!DOCTYPE html>
<html>
  <head>
    <title>Energy Analytics</title>
    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="stylesheets/main.css" rel="stylesheet">
    
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	
	<script type="text/javascript">
		google.load("visualization", "1", {packages:["corechart"]});
		/*
		// With JQuery
		$("#slider1").slider({
			tooltip: 'always'
		});
		*/
	</script>
	 <script language="javascript">
                function getInfo()
                {
                        var miles = parseFloat(document.getElementById("value1").value);
                        var amtpaid = parseFloat(document.getElementById("value2").value);
                        var energy1;
                        var cost1;
                        energy1 = (miles*1.7)/5;
                        var val=energy1;
                        cost1 = val*amtpaid;
                        console.log('value is '+cost1);
                       
                        var mpg = parseFloat(document.getElementById("mpg").value);
                        var pamount = parseFloat(document.getElementById("pamount").value);
                        var energy2;
                        var cost2;
                        energy2 = (miles/mpg)/0.08;
                        cost2 = (miles*2.7)/mpg;
                        console.log('value is '+cost2);
						
						google.load("visualization", "1", {packages:["corechart"]});
						var data = google.visualization.arrayToDataTable([
							['Car Type', 'Electric Car', 'Petroleum Car'],
							['Car Type', Number(energy1), Number(energy2)],
							['', 0, 0]
						]);

						var options = {
							title: 'Energy Consumption comparison between Electric Car and Petroleum Car',
							vAxis: {title: '',  titleTextStyle: {color: 'blue'}},
							hAxis: {title: 'Energy Consumption (KWH)',  titleTextStyle: {color: 'blue'}},
						};

						var chart = new google.visualization.BarChart(document.getElementById('bar_chart'));

						chart.draw(data, options);
						
						//Second chart
						google.load("visualization", "1", {packages:["corechart"]});
						var data = google.visualization.arrayToDataTable([
							['Car Type', 'Electric Car', 'Petroleum Car'],
							['Car Type', Number(cost1), Number(cost2)],
							['', 0, 0]
						]);

						var options = {
							title: 'Cost comparison between Electric Car and Petroleum Car',
							vAxis: {title: 'Cost of travelling($)',  titleTextStyle: {color: 'blue'}},
							hAxis: {title: '',  titleTextStyle: {color: 'blue'}},
						};

						var chart = new google.visualization.ColumnChart(document.getElementById('column_chart'));

						chart.draw(data, options);
      }
	  
        </script>
  </head>
  
  <body>
  
  <!-- Header Part -->
   <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Energy Analytics</a>
			<br>
			<div id="navigation">
<a href="/">HOME &nbsp;&nbsp;&nbsp;</a>
    		<a href="/householdanalysis">OVERALL US ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/energyanalysis">STATE WISE ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/sectorAnalysis">SECTOR WISE ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/geo">GEOGRAPHICAL ENERGY PRODUCTION &nbsp;&nbsp;&nbsp;</a>
    		<a href="/electriccar">ELECTRIC CAR ENERGY ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/solarpanel">SOLAR PANEL ENERGY ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/about">About Us</a>
    		</div>
    		</div>
      </div>
    </div>
<center>
  	<h3>Summary of Electric Car Energy Consumption over Petroleum Car.</h3>
<br><br>
<table>
		<tr><td>HOW MANY MILES DO YOU DRIVE EACH DAY?: <input type="number" step="0.01" id="value1" name="miles"/><br><br></td></tr>
		<tr><td>HOW MUCH DO YOU PAY PER KILOWATT HOUR? : <input type="number" step="0.01" id="value2" name="amtpaid" placeholder="Amount" value="0.12"/> $ ($0.12 is the national average)<br><br></td></tr>
		<tr><td>HOW MUCH IS YOUR CAR MILEAGE? : <input type="number" step="0.01" id="mpg" name="mpg" value="21"/> mpg(21mpg is the average for mid-size car)<br><br></td></tr>
		<tr><td>HOW MUCH DO YOU PAY PER GALON OF GASOLINE? : <input type="number" step="0.01" id="pamount" name="pamount" placeholder="Amount" value="2.7"/><br><br> </td></tr>
		<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" name="Submit" value="Calculate" onclick="getInfo()"/>
</table>
<br><br>
		
    </center>
    <br><br>
 <!-- Dynamic part to be changed page wise -->   
<table> 
	<tr><td><div id="bar_chart" style="width: 500px; height: 400px;"></div>
  	</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<td>
	<div id="column_chart" style="width: 500px; height: 400px;"></div>
	</td></tr>
    </div>
</table>
<br><br>

<!-- Footer code  -->
<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>Copyright</h4>
					<p>
						TEAM - 20 <br>
						CMPE-272 <br>
						San Jose State University <br>
						Fall-2014
						
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<!--h4>My Links</h4>
					< p>
						
						<a href="http://twitter.com">Follow us on Twitter</a><br/>
						<a href="http://facebook.com">Like us on Facebook</a>
					</p -->
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>About Energy Analytics</h4>
          <p>Energy Analytics Description</p>
				</div><!-- /col-lg-4 -->
			
			</div>
		
		</div>
	</div>

<script src="bootstrap.min.js"></script>
</body>
</html>