<!DOCTYPE html>
<html>
  <head>
    <title>Energy Analytics</title>
    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="stylesheets/main.css" rel="stylesheet">
    
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	
	<script type="text/javascript">
		google.load("visualization", "1.1", {packages: ["controls"]});
	</script>
	
	<script type="text/javascript">
		function drawVisualization() {
        // Prepare the data
        var data;         
          var chart22, data2,chartx;

       var options2 = {
          
        };

        var serverData = $.ajax({
          type: "POST",
          url: 'readEnergyData',
          //dataType: 'json',
          context: document.getElementById('dashboard'),
          success: function(serverData) {
            data = new google.visualization.DataTable(serverData);
            // Create a dashboard
            new google.visualization.Dashboard(document.getElementById('dashboard')).
                // Establish bindings, declaring the both the slider and the category
                // picker will drive both charts.
                bind([slider, categoryPicker], [pie, table]).
                // Draw the entire dashboard.
                draw(data);
                //chartx = new google.visualization.LineChart(document.getElementById('chart22'));
            //chartx.draw(data, options2);

            console.log(data);
            //console.log(data);
          }
        });

        // Define a slider control for the Age column.
        var slider = new google.visualization.ControlWrapper({
          'controlType': 'NumberRangeFilter',
          'containerId': 'control1',
          'options': {
            'filterColumnLabel': 'Production (BTU)',
          'ui': {'labelStacking': 'vertical'},
		  'minValue': 0,
		  'maxValue': 1000000000
          },
//		  'state': {'lowValue': 1, 'highValue': 40}
        });
/*
        // Define a category picker control for the Gender column
        var categoryPicker = new google.visualization.ControlWrapper({
          'controlType': 'CategoryFilter',
          'containerId': 'control2',
          'options': {
            'filterColumnLabel': 'Year',
            'ui': {
            'labelStacking': 'vertical',
              'allowTyping': false,
              'allowMultiple': false
            }
          }
        });
*/
		
		// Define a category picker control for the Gender column
        var categoryPicker = new google.visualization.ControlWrapper({
          'controlType': 'CategoryFilter',
          'containerId': 'control2',
          'options': {
            'filterColumnLabel': 'State',
            'ui': {
            'labelStacking': 'vertical',
              'allowTyping': false,
              'allowMultiple': false
            }
          }
        });

        // Define a Pie chart
        var pie = new google.visualization.ChartWrapper({

          'chartType': 'ColumnChart',
          'containerId': 'chart1',
          'options': {
            'width':800,
            'height': 450,
            'legend': 'none',
            'title': 'Production vs Consumption (BTU)',
            'is3D':true,
            'chartArea': {'left': 120, 'top': 80, 'right': 0, 'bottom': 0},
            'pieSliceText': 'label',
			hAxis: {title: 'Year', titleTextStyle: {color: 'blue'}},
			vAxis: {title: 'Production and Consumption (Btu)', titleTextStyle: {color: 'blue'}}
          },
          // Instruct the piechart to use colums 0 (Name) and 3 (Donuts Eaten)
          // from the 'data' DataTable.
          'view': {'columns': [0,1,2]}
        });

		/*
          var pie2 = new google.visualization.ChartWrapper({
          'chartType': 'PieChart',
          'containerId': 'chart4',
          'options': {
            'width': 600,
            'height': 600,
            'legend': 'none',
            'title': 'Year Vs Land Harvested',
            'chartArea': {'left': 30, 'top': 30, 'right': 0, 'bottom': 0},
            'pieSliceText': 'label'
          },
          // Instruct the piechart to use colums 0 (Name) and 3 (Donuts Eaten)
          // from the 'data' DataTable.
          'view': {'columns': [0,1]}
        });
        */
      
        // Define a table
        var table = new google.visualization.ChartWrapper({
          'chartType': 'Table',
          'containerId': 'chart2',
          'options': {
            'width': '600px'
          }
        });
      
      }
	  
	  google.setOnLoadCallback(drawVisualization);
    </script>
  </head>
  
  <body>
  
<!-- Header Part -->
   <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Energy Analytics</a>
			<br>
			<div id="navigation">
    <a href="/">HOME &nbsp;&nbsp;&nbsp;</a>
    		<a href="/householdanalysis">OVERALL US ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/energyanalysis">STATE WISE ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/sectorAnalysis">SECTOR WISE ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/geo">GEOGRAPHICAL ENERGY PRODUCTION &nbsp;&nbsp;&nbsp;</a>
    		<a href="/electriccar">ELECTRIC CAR ENERGY ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/solarpanel">SOLAR PANEL ENERGY ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/about">About Us</a>
    		</div>
    		</div>
      </div>
    </div>
      
 <!-- Dynamic part to be changed page wise -->   
<center>
<h2 >State Wise Energy Analysis</h2>
  	<br>
  	<br>
	<div style="color:blue">
	<b>Production</b>
	</div>
	<div style="color:red">
	<b>Consumption</b>
	</div>
	<div id="dashboard">
      <table>
        <tr style='vertical-align: top'>
          <td style='width: 900px; font-size: 1.4em;'>
            <div id="control1"></div>
			<br>
            <div id="control2"></div>
            <div id="control3"></div>
            <div id="control4"></div>
          </td>
		  
          <td style='width: 1400px; font-size: 1.4em;'>
            <div style="float: left;" id="chart1"></div>
            <div style="float: left;" id="chart2"></div>
            <div style="float: left;" id="chart3"></div>
            <div style="float: left;" id="chart4"></div>
            <div style="position:absolute;top:200px;left:500px;width:240px;background-color:red;"></div>
          </td>
        </tr>
      </table>
      	<br><br>
    </div>
</center>

<br><br>
<!-- Footer code  -->
<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>Copyright</h4>
					<p>
						TEAM - 20 <br>
						CMPE-272 <br>
						San Jose State University <br>
						Fall-2014
						
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<!--h4>My Links</h4>
					< p>
						
						<a href="http://twitter.com">Follow us on Twitter</a><br/>
						<a href="http://facebook.com">Like us on Facebook</a>
					</p -->
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>About Energy Analytics</h4>
          <p>Energy Analytics Description</p>
				</div><!-- /col-lg-4 -->
			
			</div>
		
		</div>
	</div>
	
	<script src="bootstrap.min.js"></script>
</body>
</html>