<!DOCTYPE html>
<html>
  <head>
    <title>Energy Visualizer</title>
    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="stylesheets/main.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>



    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript">
      google.load('visualization', '1.1', {packages: ['controls']});
    </script>

   <script type="text/javascript">

      function drawChart() {

         var chart, data;

        var options2 = {
          backgroundColor: {stroke: '#000', strokeWidth: 4, fill: '#bbb'},
          curveType: 'function',
          hAxis: {title: 'Year', titleTextStyle: {fontSize: 16}},
          isStacked: true,
          series: {1: {targetAxisIndex: 1, type: 'line'}},
          seriesType: 'bars',
          title: 'Year Vs Production vs Consumption',
          titleTextStyle: {fontSize: 18},
          tooltip: {showColorCode: true},
          vAxes: [
            {title: 'Energy Production (in Btu)', titleTextStyle: {fontSize: 16}},
            {title: 'Energy Consumption (in Btu)', titleTextStyle: {fontSize: 16}}
          ]
        };

        var serverData2 = $.ajax({
          url: 'Y1Router',
          dataType: 'json',
          context: document.getElementById('chart22'),
          success: function(serverData) {
            data2 = new google.visualization.DataTable(serverData);
            chart22 = new google.visualization.ComboChart(this);
            chart22.draw(data2, options2);

            console.log(data2);
          }
        });
      }

      google.load('visualization', '1.0', {
        'packages': ['corechart'], 
        'callback': drawChart
      });

    </script>
    
    
  </head>
  <body>
  
  <!-- Header Part -->
   <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Energy Analytics</a>
			<br>
			<div id="navigation">
    		<a href="/">HOME &nbsp;&nbsp;&nbsp;&nbsp;</a>
    		<a href="/householdanalysis">OVERALL US ENERGY ANALYTICS &nbsp;&nbsp;&nbsp;&nbsp;</a>
    		<a href="/sectorAnalysis">SECTOR WISE ENERGY ANALYTICS &nbsp;&nbsp;&nbsp;&nbsp;</a>
    		<a href="/geo">GEOGRAPHICAL ENERGY PRODUCTION &nbsp;&nbsp;&nbsp;&nbsp;</a>
    		<a href="/electriccar">ELECTRIC CAR ENERGY ANALYTICS &nbsp;&nbsp;&nbsp;&nbsp;</a>
    		<a href="/solarpanel">SOLAR PANEL ENERGY ANALYTICS &nbsp;&nbsp;&nbsp;&nbsp;</a>
    		<a href="/about">About Us</a>
    		</div>
    		</div>
      </div>
    </div>
    
 <!-- Dynamic part to be changed page wise -->   
<center>
<h2>Energy Production Vs. Consumption data of US</h2>
<br><br>
<div id="chart22" style="width: 900px; height: 500px;"></div>
</center>


<br><br>
<!-- Footer code  -->
<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>Copyright</h4>
					<p>
						TEAM - 20 <br>
						CMPE-272 <br>
						San Jose State University <br>
						Fall-2014
						
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<!--h4>My Links</h4>
					< p>
						
						<a href="http://twitter.com">Follow us on Twitter</a><br/>
						<a href="http://facebook.com">Like us on Facebook</a>
					</p -->
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>About Energy Analytics</h4>
          <p>Energy Analytics Description</p>
				</div><!-- /col-lg-4 -->
			
			</div>
		
		</div>
	</div>

  </body>
</html>