<!DOCTYPE html>
<html>
  <head>
    <title>Energy Analytics</title>
    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="stylesheets/main.css" rel="stylesheet">
    
  </head>
  <body>
  
  
  <!-- Header Part -->
   <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Energy Analytics</a>
			<br>
			<div id="navigation">
    		<a href="/">HOME &nbsp;&nbsp;&nbsp;</a>
    		<a href="/householdanalysis">OVERALL US ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/energyanalysis">STATE WISE ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/sectorAnalysis">SECTOR WISE ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/geo">GEOGRAPHICAL ENERGY PRODUCTION &nbsp;&nbsp;&nbsp;</a>
    		<a href="/electriccar">ELECTRIC CAR ENERGY ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/solarpanel">SOLAR PANEL ENERGY ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/about">About Us</a>
    		</div>
    		</div>
      </div>
    </div>
    
        
 <!-- Dynamic part to be changed page wise -->   
<br><br>

<center>
<h2>I am interested in Energy Analytics</h2>
<br><br>
<a href="/householdanalysis" style="color: rgb(255,255,255)"><input id="checkoutbutton" value="Overall US Energy Analysis" type="button"/></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/energyanalysis" style="color: rgb(255,255,255)"><input id="checkoutbutton" value="Statewise Energy Analysis" type="button"/></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/sectorAnalysis" style="color: rgb(255,255,255)"><input id="checkoutbutton" value="Sector wise Energy Analysis" type="button"/></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/geo" style="color: rgb(255,255,255)"><input id="checkoutbutton" value="Geographical Energy Production" type="button"/></a>
&nbsp;&nbsp;&nbsp;&nbsp;


<br><br>
<h2>I am interested in Energy Saving</h2>
<br><br>
<a href="electriccar" style="color: rgb(255,255,255)"><input id="checkoutbutton" value="Electric Car Energy Analysis" type="button"/></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/solarpanel" style="color: rgb(255,255,255)"><input id="checkoutbutton" value="Solar Panel Energy Analysis" type="button"/></a>
</center>

 
<br><br>
<!-- Footer code  -->
<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>Copyright</h4>
					<p>
						TEAM - 20 <br>
						CMPE-272 <br>
						San Jose State University <br>
						Fall-2014
						
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<!--h4>My Links</h4>
					< p>
						
						<a href="http://twitter.com">Follow us on Twitter</a><br/>
						<a href="http://facebook.com">Like us on Facebook</a>
					</p -->
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>About Energy Analytics</h4>
          <p>Energy Analytics Description</p>
				</div><!-- /col-lg-4 -->
			
			</div>
		
		</div>
	</div>

  </body>
</html>