<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>System Sizing Estimator - Estimate Your Solar Power Requirements</title>


<meta name="description" content="Estimate your solar power requirements to calculates the size and number of solar panel systems needed for your solar system.">	<meta name="keywords" content="Solar Panels, Solar Power Panels, Solar Power Installation, System Sizer, System Sizing Estimator, System Sizing Calculator, Affordable Solar">	<meta name="robots" content="index, follow">	<meta name="googlebot" content="all, index, follow">	<meta name="author" content="Affordable Solar Group">	<meta name="copyright" content="© 2010 Affordable Solar Group, LLC. All rights reserved.">	<meta name="revisit-after" content="5 days">	<meta name="rating" content="General">	<meta name="distribution" content="global">

<meta content="IE=EmulateIE8" http-equiv="X-UA-Compatible">
<meta name="google-site-verification" content="zY0Bmv6EXl9-q01qL3fKWFV7nz8n0CzX8OZlWimTfbQ">


<script type="text/javascript">
 
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-295910-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
 
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 
</script>
<meta name="google-site-verification" content="zr-PvrwlqXUmBOWgoGYFYZW0-zLKQdnPzjyw2kzbFi0">
<meta name="msvalidate.01" content="FCE50D782EA819299F852CAC377CF6A1">
<meta name="msvalidate.01" content="C302F8E387DF6E2A70857E6D2206278B">
<meta name="y_key" content="5a4d51238edf65b5">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" >
<meta property="fb:admins" content="1805751482">
<link rel="shortcut icon" href="http://www.affordable-solar.com/site/img/asgfavicon.ico" type="image/x-icon">
<link rel="stylesheet" href="http://www.affordable-solar.com/site/css/sc-afs-main-as.css?v=1.2.1"/>
<link rel="stylesheet" href="http://www.affordable-solar.com/site/css/extra-styles.css"/>
<style type="text/css">#leftcolumn, #breadcrumb { display: none !important; }
#mainContents { width: 942px !important; } </style>

<!--<link rel="stylesheet" href="http://www.affordable-solar.com/site/css/extra-styles.css"/>-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="http://www.thinkaffordablesolar.com/wp/wp-content/themes/affordable-solar/js/jq.checkNM.js"></script>


<style type="text/css"> #leftnav li[title="News"] { display: none; } </style><script language='JavaScript' type='text/javascript'>window.status='Loading...';</script><script type='text/javascript' src='/javascript/NLUtil.jsp__NS_VER=2014.2.0&amp;minver=102&amp;locale=en_US.nlqs'></script><script language='JavaScript' type='text/javascript'>window.status='';</script><script type='text/javascript'>ignoreResetDivSizes = true;</script>
<!-- v=2014.2.0.102 db=727 c=850709 n=1 rg=1 e=0 r=17 ct=WEBSITE isstore=T https=F
     id=I:4 cat= sc=41 sct=PRESENTATION thm=101 bll=i:110;c:111;r:100;cr:100;
     cart=-1 price=5 cur=1 lang=en_US partner=0 promocode=0 leadsource=
     sco=F
     page(candbc=F fromdbc=F vol=F) -->
<link rel='canonical' href='http://www.affordable-solar.com/residential-solar-home/Residential-Calculator'/>

<style>
#breadcrumb, #leftcolumn { display: none !important; }
#mainContents { width: 942px !important; }
</style>
<link rel='stylesheet' href='http://www.affordable-solar.com/core/styles/pagestyles.nl?ct=89&amp;bglt=E9F2E3&amp;bgmd=ACC49C&amp;bgdk=728367&amp;bgon=978368&amp;bgoff=CEC0A2&amp;bgbar=768784&amp;tasktitletext=FFFFFF&amp;crumbtext=FFFFFF&amp;headertext=FFFFFF&amp;ontab=FFFFFF&amp;offtab=000000&amp;text=000000&amp;link=000000&amp;bgbody=FFFFFF&amp;bghead=FFFFFF&amp;portlet=768784&amp;portletlabel=FFFFFF&amp;bgbutton=D2D2C8&amp;bgrequiredfld=FFFFE5&amp;font=Arial%2CHelvetica%2Csans-serif&amp;size_site_content=9pt&amp;size_site_title=9pt&amp;size=1.0&amp;nlinputstyles=T&amp;NS_VER=2014.2.0&amp;3'>


</head>
<body bgcolor='#FFFFFF' link='#000000' vlink='#000000' alink='#000000' text='#000000' style='margin: 5px 0px 5px 0px;' onload="page_init()">
<div id='outerwrapper' style='width: 990px;margin: 0 auto;'>
<div id='innerwrapper'>

<div id='div__header' 
class='noprint' 
leftmargin='0' topmargin='0' marginwidth='1'>
<table border='0' cellspacing='0' cellpadding='0' width='100%'>
<script type="text/javascript" src="/site/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" href="http://www.affordable-solar.com/site/js/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen">
<style>
.bgbutton {
	background-color: #353735 !important;
	border: none !important;
	font-weight:bold;
	padding: 3px 7px;
	color: #fff;
	font-size: 12px;
}
</style>
<tr>

</tr>
<tr>
    <td>
        <div id="shopping-header">
<span style="display:inline-block; vertical-align:top;padding-top:4px;" class="showing">

</span>
<span style="display:inline-block; vertical-align:top; padding-top:4px; padding-right: 20px;" class="invisible"><a style="" href="https://checkout.netsuite.com/app/center/nlvisitor.nl?c=850709&amp;sc=6&amp;ck=gkELRLTgAY93zR-x&amp;vid=gkELRLTgAZd3zWui&amp;cktime=123060">My Account</a> | <a style="" href="https://checkout.netsuite.com/s.nl?c=850709&amp;sc=4&amp;logoff=T&amp;ckabandon=SsoNoC2cAbZebwMT&amp;ck=gkELRLTgAY93zR-x&amp;vid=gkELRLTgAZd3zWui&amp;cktime=123060">Logout</a></span>
<span style="display:none;">
<a id="cart-header" href="/s.nl/sc.3/.f"><span style="float:left;margin-left:5px;">SHOPPING CART</span><span>$0.00</span></a>
</span>
</div>
</div>     
        </div>


        <div id="breadcrumb"><a class='crumb' onmouseover="this.className='crumbover';" onmouseout="this.className='crumb';"  href='/residential-solar-home' >Solar Kits</a>&nbsp;&gt;&nbsp;<span class="sharinglinks" style="display: inline-block; float: right; padding-top: 5px;clear:both;width:14%;"><div class="addthis_toolbox addthis_default_style">
	<a class="addthis_button_email"></a>
	<a class="addthis_button_facebook"></a>
	<a class="addthis_button_linkedin"></a>
	<a class="addthis_button_compact"></a>
<script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e330ef1576cc423"></script>
</div></span></div>

        <div id="dropdowns-container" class="invisible">
            <div class="children" style="width:415px;">
    <ul style="float:left; margin-right:10px;">
        <li><a href="/store/solar-batteries-accessories" title="Solar Batteries & Enclosures">&raquo; Batteries & Enclosures</a></li>
        <li><a href="/store/solar-charge-controller" title="Charge Controllers">&raquo; Charge Controllers</a></li>
        <li><a href="/store/renewable-energy-electrical" title="Electrical & Safety Supplies">&raquo; Electrical & Safety Supplies</a></li>
        <li><a href="/store/grid-tie-kits" title="Grid Tie Kits">&raquo; Grid Tie Kits</a></li>
        <li><a href="/store/solar-off-grid-remote" title="Off Grid Kits">&raquo; Off Grid Kits</a></li>
        <li><a href="/store/solar-inverters-accessories-cables" title="Inverters & Accessories">&raquo; Inverters & Accessories</a></li>
	</ul>
<ul>

        <li><a href="/store/power-panels-main" title="Power Panels">&raquo; Power Panels</a></li>
        <li><a href="/store/solar-panels" title="Solar Panels">&raquo; Solar Panels</a></li>
        <li><a href="/store/solar-panels-by-the-pallet" title="Solar Panels By Pallet">&raquo; Solar Panels By Pallet</a></li>
        <li><a href="/store/bos-meters" title="System Monitoring & Meters">&raquo; System Monitoring & Meters</a></li>
        <li><a href="/store/mounts-trackers" title="Mounts & Trackers">&raquo; Mounts & Trackers</a></li>
        <li></li>
</ul>
</div><div class="children">
    <ul>
        <li><a href="/Installers/Affordable-Solar-Installer-Application">&raquo; Apply For Wholesale Prices</a></li>
<li><a href="/Installers/Commercial-Project-Support">&raquo; Project Support</a></li>
<li><a href="/Installers/Platinum-Dealer-Program">&raquo; Platinum Dealer Program</a></li>
<li><a href="/Installers/Design-and-Engineering-Services">&raquo; Engineering Services</a></li>
 <li><a href="/finance" title="Get Solar Financing">&raquo; Solar Financing</a></li>
 <li><a href="/Installers/LA-Warehouse-solar-distributor" title="Get Solar Financing">&raquo; West Coast Warehouse</a></li>
        
    </ul>
</div><div class="children">
    <ul>
<li><a href="/store/grid-tie-kits" title="Grid Tie Solar Kits">&raquo; Grid Tie Kits</a></li>
<li><a href="/store/solar-off-grid-remote" title="Off Grid Solar Kits">&raquo; Off Grid Kits</a></li>
        <li><a href="/residential-solar-home/Residential-Calculator" title="Solar Energy Calculator">&raquo; Grid-Tie Estimator</a></li>
        <li><a href="/residential-solar-home/Off-Grid-Load-Estimator" title="Off Grid Solar Energy Calculator">&raquo; Off-Grid Estimator</a></li>
        <li><a href="/Find-an-Installer" title="Find a solar installer in your area">&raquo; Find An Installer</a></li>

        <!--<li><a href="/residential-solar-home/residential-solar-2" title="How Solar Works">&raquo; How It Works</a></li>
         <li><a href="/residential-solar-home/gt-whysolar" title="Solar FAQ">&raquo; FAQ's</a></li>
        <li><a href="/residential-solar-home/getting-started-with-solar">&raquo; Why Solar?</a></li> -->
        <li><a href="/residential-solar-home/financial-calculator">&raquo; Financial Incentives</a></li>
        <li><a href="/Find-an-Installer" title="Get a free solar estimate">&raquo; Request a Quote</a></li>
    </ul>
</div><div></div><div class="children">
    <ul>
        <li><a href="/commercial-solar/commercial-getstarted" title="How to get started with commercial solar">&raquo; Get Started</a></li>
        <li><a href="/commercial-solar/commercial-examplesystems" title="Examples of commercial solar systems">&raquo; Installation Portfolio</a></li>
 <li><a href="/Installers/Commercial-Project-Support" title="Get Solar Financing">&raquo; Project Support</a></li>
       <!-- <li><a href="/commercial-solar/commercial-howitworks" title="How solar works">&raquo; How It Works</a></li> -->
        <li><a href="/commercial-solar/Commercial-Projects-Questionnaire" title="Get a quote for your solar project">&raquo; Request a Quote</a></li>
    </ul>
</div><div class="children">
    <ul>
        <li><a href="/government-schools/Government-and-Schools-Application" title="Government and Schools Application" >&raquo; Request a Quote</a></li>


      </ul>
</div><div></div><div class="children">
    <ul>
        <li><a href="/Learning-Center/Solar-Basics">&raquo; Solar Basics</a></li>
        <li><a href="/Learning-Center/Building-a-System">&raquo; Building A System</a></li>
        <li><a href="/Learning-Center/System-Care">&raquo; System Care</a></li>
        <li><a href="/Learning-Center/Solar-Tools">&raquo; Solar Tools</a></li>
        <li><a href="/Learning-Center/Financial-Savings">&raquo; Financial Savings</a></li>
 <li><a href="/Learning-Center/Home-Installations">&raquo; Home Installations</a></li>
 <li><a href="/Learning-Center/Water-Pumping">&raquo; Water Pumping</a></li>
 <li><a href="/Learning-Center/Solar-Links">&raquo; Solar Links</a></li>
<li><a href="/Learning-Center/Solar-Manufacturers">&raquo; Solar Manufacturers</a></li>

    </ul>
</div><!--<div class="children">
    <ul>
        <li><a href="/support/gt-whysolar" title="Solar FAQs">&raquo; Solar FAQ's</a></li>
</ul>
</div>--><div class="children">
    <ul>
        <li><a href="/about-us/staff" title="Affordable Solar's Staff" >&raquo; Our Staff</a></li>
        <li><a href="/about-us/whyaffordable" title="Why you should chose Affordable Solar">&raquo; Why Affordable</a></li>
        <li><a href="/about-us/Contact-Us" title="Contact Affordable Solar">&raquo; Contact Us</a></li>
        <li><a href="/about-us/affordable-solar-support">&raquo; Support</a></li>
        <li><a href="/about-us/affordable-solar-employment">&raquo; Employment</a></li>

      </ul>
</div><!--DROPDOWN_NEWS--><!---->
        </div>
    </td>
</tr>
<script type="text/javascript">
    jQuery(function() { jQuery('#mainContents').prepend(jQuery('#breadcrumb')); });
    //show/hide logout and login links
    function generateUserInfo () {
        var cust = ""
        if(cust !== "") {
            //jQuery('#mainheader li.invisible').removeClass('invisible').addClass('showing');
            //jQuery('#mainheader li:first, #mainheader li:eq(1)').addClass('invisible').removeClass('showing');
            jQuery('#shopping-header span.invisible').removeClass('invisible').addClass('showing');
            jQuery('#shopping-header span:first').addClass('invisible').removeClass('showing');
        }
if ( jQuery('#tab41').show) { jQuery('#tab41').find('a').attr('href','http://www.affordable-solar.com/store/grid-tie-kits'); }
if ( jQuery('#tab1').show) { jQuery('#tab1').find('a').attr('href','http://www.affordable-solar.com/products'); }
if ( jQuery('#tab51').show) { jQuery('#tab51').remove(); }  //Remove Home tab from website
if ( jQuery('#tab48').show) { jQuery('#tab48').remove(); }    //Remove ASI tab from website
if ( jQuery('#tab49').show) { jQuery('#tab49').remove(); }    //Remove News tab from website
//if ( jQuery('#tab52').show) { jQuery('#tab52').remove(); }    //Remove News tab from website
}
  

    generateUserInfo();

    /** MOVE DROPDOWNS **/
    
</script></table></div>
<div id='div__title' style='margin: 0px;'></div>
<div id='div__label' class='scrollarea' style='margin: 0px; overflow:hidden;'></div>
<div id='div__body' style="margin: 0px;  margin-top: 3px;">
<table border='0' cellspacing='0' cellpadding='5' width='100%' id='__enclosingtable'><tr>
<td align="left" valign="top" id="leftcolumn">
    <div id="inner-sidebar">
        <div id="leftcolumnsource" style="display:none;">
            <table cellspacing="0" cellpadding="0">
                <tr class='portletHandle'  >
<td valign='top' width=100%>
<table width=100% border='0' cellspacing='0' cellpadding='0' style='margin-bottom: 10px;'>
<tr>
<td>
<table width='100%' border='0' cellspacing='0' cellpadding='2'>
<tr>
<td nowrap class='portletlabel' valign='top'><b><a href='/s.nl/sc.3/.f' class='portletlabel' style='text-decoration: none'>Shopping Cart</a></b></td>
</tr>
</table>
</td>
</tr>
<tr><td bgcolor='#000000' style='font-size: 0'><img src='/images/nav/stretch.gif' width='1' height='1'></td></tr><tr><td bgcolor='#939393' style='font-size: 0'><img src='/images/nav/stretch.gif' width='1' height='1'></td></tr><tr><td bgcolor='#D0D0D0' style='font-size: 0'><img src='/images/nav/stretch.gif' width='1' height='1'></td></tr>
<tr>
<td class='bglt'> 
<table border='0' cellspacing='0' cellpadding='2'  width=100%>
<tr>
<td valign='top' width='100%'>
<table class='list' border='0' cellspacing='0' cellpadding='2'>
<tr  ><td width='1%' class='pic'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></td>
<td style='padding-left:1px'  class='smalltext'>Your Cart is Empty</td></tr>
<tr  ><td width='1%' class='pic'><a href='/s.nl/sc.3/.f' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink smalltextul ' href='/s.nl/sc.3/.f'>View Cart</a></td></tr>
</table>
</td>

</tr>
</table>
</td>
</tr>
</table>
</td>

</tr>
<tr class='noprint'>
<td valign='top' width=160><img src='/images/nav/stretch.gif' width=160 height='0'></td>
</tr>
<tr class='portletHandle'  >
<td valign='top' width='100%'>
<table class='list' border='0' cellspacing='0' cellpadding='2'>
<tr  ><td width='1%' class='pic'><a href='/Installers' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink' href='/Installers'>Installers & Wholesale</a></td></tr>
<tr  ><td width='1%' class='pic'><a href='/residential-solar-home' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='textboldnolink'><a href='/residential-solar-home' class='textboldnolink'>Solar Kits</a></td></tr>
<tr  ><td width='1%' class='pic'><a href='/retail-diy' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink' href='/retail-diy'>Retail-DIY</a></td></tr>
<tr  ><td width='1%' class='pic'><a href='/commercial-solar' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink' href='/commercial-solar'>Commercial</a></td></tr>
<tr  ><td width='1%' class='pic'><a href='/government-schools' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink' href='/government-schools'>Gov & Schools</a></td></tr>
<tr  ><td width='1%' class='pic'><a href='/business-oem-application' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink' href='/business-oem-application'>Business & OEM</a></td></tr>
<tr  ><td width='1%' class='pic'><a href='/Learning-Center' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink' href='/Learning-Center'>Learn</a></td></tr>
<tr  ><td width='1%' class='pic'><a href='/about-us' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink' href='/about-us'>About Us</a></td></tr>
<tr  ><td width='1%' class='pic'><a href='/store' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink' href='/store'>Products</a></td></tr>
<tr  ><td width='1%' class='pic'><a href='/Search' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink' href='/Search'>Search</a></td></tr>
<tr  ><td width='1%' class='pic'><a href='/home' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink' href='/home'>Home</a></td></tr>
</table>
</td>




</tr>
<tr class='noprint'>
<td valign='top' width=160><img src='/images/nav/stretch.gif' width=160 height='0'></td>
</tr>

            </table>
        </div>
        <div class="box">
            <h5>Products</h5>
            <div id="navDestination" class="content">
            </div>
        </div>

        <!-- div id="rebates" class="box">
            <h5>Need an Installer?</h5>
            <a class="content" href="/find-an-installer"><img src="/site/img/rebate_map.png" alt="Solar Rebates"></a>
        </div-->
<div style="width: 215px;">
	<a href="http://www.newmexicoandsouthwestcolorado.bbb.org/BusinessReport.aspx?CompanyID=44654&amp;source=ctc">
		<img src="/site/images/home/bbb.jpg" alt="">
	</a> 
		<img src="/site/images/home/gsaschedule.gif" alt="GSA Schedule">

	<a href="http://www.ases.org/" target="_blank">
		<img src="/site/images/home/ases.gif" alt="American Solar Energy Soceity">
	</a>
	<a href="http://www.nabcep.org/">
		<img src="/site/images/home/nabcep.gif" alt="North American Board of Certified Energy Partners - NABCEP">
	</a>
</div>
<!--<div style="width:215px; text-align:center;">
<br>
<img src="/site/images/home/asg-nabcep-gold-sponsor.png" alt="Nabcep Gold level sponsor">
</div>-->
        <div id="morelinks" class="box">
            <a href="http://www.dsireusa.org/" class="orangebox" style="width:90%;"><span>&raquo;</span> Find Incentives</a>
			<!--a href="/Newsletter-Sign-Up" onclick="return popitup('http://www.affordable-solar.com/Newsletter-Sign-Up')" class="orangebox" style="width:90%;"><span>&raquo;</span> Sign up for our Newsletter!</a-->
        </div>

    </div>
</td>
<script type="text/javascript">
    (function(){
        function appendNav(lvl){
            var currentLevel = jQuery("#leftnav").find("li:has(.level-" + lvl + ")"), prevLevel = currentLevel.prev("li:has(.level-" + (lvl - 1) + ")").append("<ul class='lvl-" + (lvl - 1) + "'></ul>");
            currentLevel.find("a").removeClass("level-" + lvl);
            currentLevel.each(function(){
                jQuery(this).appendTo(jQuery(this).prevAll(":has(.lvl-" + (lvl - 1) + "):first").find("ul:first"));
            });
            lvl--;
            if (lvl > 0) 
                appendNav(lvl);
        }
        var leftSrc = jQuery("#leftcolumnsource").hide();
        jQuery('#navDestination').append('<ul id="leftnav"/>');
        var leftNav = jQuery("#leftnav"), navLvl = 0, currentLvl = 0;
        leftSrc.find("a:not(:has(img)):not(:empty)").addClass(function(){
            currentLvl = (jQuery(this).parent().parent().find("td").length + jQuery(this).parent().parent().find("td:first").attr("colspan") - 2);
            navLvl = (navLvl < currentLvl) ? currentLvl : navLvl;
            return "level-" + currentLvl;
        }).each(function(){
            jQuery(this).clone().appendTo(leftNav).wrap('<li title="' + jQuery(this).text() + '"></li>');
        })
        leftNav.find(".textboldnolink").removeClass("textboldnolink").parent().addClass("active");
        appendNav(navLvl);
        leftNav.find("li:has(.active)").addClass("active");
        leftNav.find('li:contains(New Releases)').attr('id', 'newReleases').children('a').first().attr('href', 'http://shopping.netsuite.com/s.nl/c.394134/sc.14/category.37674/ctype.SS/SS.37674/.f');
    })();
        jQuery("li[title='Home']").hide();
        jQuery("li[title='Finance']").hide();
        jQuery("li[title='Installers & Wholesale']").hide();
	jQuery("li[title='Solar Kits']").hide();
</script>
<td align="left" id="left_cart_" valign="top">
    
</td>
<td id="mainWrapper" valign="top">
    <div id="mainContents" class="class_-141">
        <table cellpadding="0" cellspacing="0" width="100%">
            <tr class='portletHandle' id='handle_itemMainPortlet' >
<td width='100%' height=0 align='left' valign='top'>
<table border=0 cellspacing=0 cellpadding=0 width='100%'>
<tr>
<td width=0 height=0 align='left' valign='top' style='display:none'>
<form method='post' name='form0' id='form0' action='/s.nl'>
<input type='hidden' name='c' value='850709'>
<input type='hidden' name='n' value='1'>
<input type='hidden' name='sc' value='41'>
<input type='hidden' name='category' value='-141'>
<input type='hidden' name='id' value='4'>
<input type='hidden' name='it' value='I'>
<input type='hidden' name='vid' value='gkELRLTgAZd3zWui'>
<input type='hidden' name='ck' value='gkELRLTgAY93zR-x'>
<input type='hidden' name='cktime' value='123060'>
<input type='hidden' name='cart' value='-1'>

</td>
</tr>
<tr>
</form>
<td valign='top' width='100%'>
<table width='100%' border='0' cellspacing='0' cellpadding='0'>
<tr valign='top'>
<td>
<table width='100%' border='0' cellspacing='0' cellpadding='5'>
<tr>


<!--How to use. Place <div id="tip"> around content you want to hover content around. Make the <a href="#" title="Content You Want Hovered">Link</a> -->
<link rel="stylesheet" href="http://www.affordable-solar.com/site/css/jquery.tooltip.css">
<script src="/site/js/jquery.tooltip.min.js" type="text/javascript"></script>
<script type="text/javascript"> 
$(function(){
    $('#tip a').tooltip({ 
      track: true, 
      delay: 0, 
      showURL: false, 
      fade: 250 
    });
});
</script>
<td>
<style>#dhtmltooltip, #dhtmlpointer { display: none !important; }</style>
<script type="text/javascript">var calculate = '';</script>
<script type="text/javascript" src="/site/js/generalFunctions.js"></script>
<script type="text/javascript" src="/site/js/static.js"></script>
    <div id="residential-calculator" class="main-content">
        <div id="detailed" class="left rciBorder">
            <h2 class="resText">System Sizer</h2>
            <h3 class="resText">Step 1</h3>
            <p class="rciText">
                Determine your monthly usage <a class="lightbox" href="/site/images/gt_learning/ex_pnmbill.jpg">from your bill</a>.
                This is measured in kWh per month.
            </p><br>
            <div class="rciMiddle">
                <div class="rciColumn left">
                    <h3 class="resText">Step 2</h3>
                    Find Your <a href="/stylesheets/images/srmap.gif" class="lightbox">Sun Hours</a>.<br><br>
                    <a href="/stylesheets/images/srmap.gif" class="lightbox">
                        <img src="/stylesheets/images/srmapsmall.gif" alt=""><br>
                    </a><a href="/stylesheets/images/srmap.gif" class="lightbox">Click to Enlarge</a><br>
                </div>
                <div class="rciColumn right">
                    <h3 style="padding: 0pt; margin: 0pt 0px 0pt 15px;" class="resText">Step 3</h3>
                    <p style="padding: 0pt; margin: 0pt 0px 0pt 15px;" class="rciText">Enter your information in the fields below.</p>
                    <div style="padding: 0pt 0pt 0pt 8px; margin: 0pt 15px;" class="rciBorder">
                        <form id="gt-form" name="gt-form" method="" action="">
                            <span class="rciText"><strong>Monthly electrical use</strong> <br>
                                <a href="/site/images/gt_learning/ex_pnmbill.jpg" name="results" class="lightbox" id="results2">
                                    (average the kWH on your bill)
                                </a>
                                <a href="/site/img/gt_learning/ex_pnmbill.jpg" name="results" id="results"></a>
<!--                                <a href="/site/img/gt_learning/ex_pnmbill.jpg" name="results" id="results"></a>-->
                            </span>
                            <span class="bmatter3">
                                <a href="/site/images/gt_learning/ex_pnmbill.jpg" name="results" class="lightbox" id="results3">

                                    <img src="/stylesheets/images/questionmark.jpg" alt="">
                                </a><br>
                                <input type="text" name="txt_akwh" class="input" id="txt_akwh" value="" size="10">
                            </span>
                            <span class="bmatternormal"> kwh per month<br>
                            </span>
                            <br>
                            <span class="bmatternormal" style="width: 45%; text-align: left;">
                                <strong>Monthly electrical bill </strong><br>
                                (average of your monthly bills) </span> <span class="bmatternormal" style="width: 20%; text-align: left;"><br>$
                                <input type="text" name="txt_bill" class="input" id="txt_bill" value="" size="10">
                            </span><br>

                            <br>
                            Percentage of your usage you want to cover with solar power*
                            <br>
                            <span class="bmatternormal">
                                <input type="text" name="txt_percent" class="input" id="txt_percent" value="" size="10">
                                %                             <div id="tip">
							<a href="#" title="This is the percentage of your electric usage(kWh) you would like to cover with your solar system."><img src="/stylesheets/images/questionmark.jpg" alt="Monthly electric bill"></a>
							</div></span><br>
                            <br>
                            <strong>Average peak sun hours for your location <br></strong>(avg 6 in Sun Belt, 4in NE / NW)*
                            <div id="tip">
							<a href="#" title="For simplicity, just click on your area in the map of the US.
                                If you know your solar insolation you can enter it in number form from 1 - 7.
                                The map provides an annual average and therefor is a conservative number.
                                Note: This is not the amount of hours a day the sun is out in your area."><img src="/stylesheets/images/questionmark.jpg"></a>
							</div>
                            <div class="bmatternormal" id="sunhours" style="display: none;">
                                For simplicity, just click on your area in the map of the US.
                                If you know your solar insolation you can enter it in number form from 1 - 7.
                                The map provides an annual average and therefor is a conservative number.
                                Note: This is not the amount of hours a day the sun is out in your area.
                            </div>
                            <input type="text" name="txt_sunhrs" class="input" id="txt_sunhrs" value="" size="10">
                            sun hours
                            <br>
                            <input type="submit" style="margin: 10px; width: 80px;" name="submit" id="submit" value="Calculate" class="button" onclick="gt_check(); return false;">
                        </form>
                    </div>
                    <br>
                </div>
                <br>
                <p style="clear: both;"></p>
                <p style="display: none; visibility: hidden; clear: both;"></p>
                <div id="rec_system"></div>
                <div id="system"></div><br>
                <div id="wattage"></div>
                <div id="financial"></div>
                <div id="utilize"></div>
                <div id="housevalue"></div>
                <div id="savings1"></div>
                <div id="savings15"></div>
                <div id="savings20"></div><br>
                <div id="environmental"></div>
                <div id="trees"></div>
            </div>
            <div id="manual-table" class="rciBottom">
                <h3 class="resText">Manual System Sizing Tool</h3>
                <p class="rciText">
                    Using the amount monthly kWhs from your utility bill, and the amount of sun hours your location receives,
                    you can find the size of your system, in DC watts, needed to cover 100% of your usage. 
                </p>
                <table cellspacing="0" cellpadding="0" width="565px">
                    <tbody>
                        <tr>
                            <td height="27" bgcolor="#669900" width="97" class="bmatterbold">
                                <div align="center" class="style4 style9">
                                    <img height="30" width="97" src="/stylesheets/images/gridguide.gif" alt=""><br>
                                </div>
                            </td>
                            <td bgcolor="#cfff6a" width="63">< 3.0</td>
                            <td bgcolor="#fdf400" width="57">3.5</td>
                            <td bgcolor="#d0fd00" width="62">4.0</td>
                            <td bgcolor="#a3f000" width="53">4.5</td>
                            <td bgcolor="#91d700" width="62">5.0</td>
                            <td bgcolor="#83c100" width="61">5.5</td>
                            <td bgcolor="#76ae00" width="61">6.0</td>
                            <td bgcolor="#669900" width="67">6.5</td>
                        </tr>
                        <tr>
                            <td height="27" class="bmatterbold">50kWh</td>
                            <td height="27" align="center" width="63" valign="middle">0.7kw</td>
                            <td align="center" width="57" valign="middle">0.6kw</td>
                            <td align="center" width="62" valign="middle">0.5kw</td>
                            <td align="center" width="53" valign="middle">0.5kw</td>
                            <td align="center" width="62" valign="middle">0.4kw</td>
                            <td align="center" width="61" valign="middle">0.4kw</td>
                            <td align="center" width="61" valign="middle">0.3kw</td>
                            <td align="center" width="67" valign="middle">0. kw</td>
                        </tr>
                        <tr>
                            <td height="27" bgcolor="#e4e4e4" class="bmatterbold">100kWh</td>
                            <td height="27" align="center" valign="middle">1.4kw</td>
                            <td align="center" valign="middle">1.2kw</td>
                            <td align="center" valign="middle">1.0kw</td>
                            <td align="center" valign="middle">0.9kw</td>
                            <td align="center" valign="middle">0.8kw</td>
                            <td align="center" valign="middle">0.8kw</td>
                            <td align="center" valign="middle">0.7kw</td>
                            <td align="center" valign="middle">0.6kw</td>
                        </tr>
                        <tr>
                            <td height="27" class="bmatterbold">150kWh</td>
                            <td height="27" align="center" valign="middle">2.0kw</td>
                            <td align="center" valign="middle">1.7kw</td>
                            <td align="center" valign="middle">1.5kw</td>
                            <td align="center" valign="middle">1.4kw</td>
                            <td align="center" valign="middle">1.2kw</td>
                            <td align="center" valign="middle">1.2kw</td>
                            <td align="center" valign="middle">1.0kw</td>
                            <td align="center" valign="middle">0.9kw</td>
                        </tr>
                        <tr>
                            <td height="27" bgcolor="#dadada" class="bmatterbold">200kWh</td>
                            <td height="27" align="center" valign="middle">2.7kw</td>
                            <td align="center" valign="middle">2.3 kw</td>
                            <td align="center" valign="middle">2.0kw</td>
                            <td align="center" valign="middle">1.8kw</td>
                            <td align="center" valign="middle">1.6kw</td>
                            <td align="center" valign="middle">1.6kw</td>
                            <td align="center" valign="middle">1.4kw</td>
                            <td align="center" valign="middle">1.2kw</td>
                        </tr>
                        <tr>
                            <td height="27" class="bmatterbold">250kWh</td>
                            <td height="27" align="center" valign="middle">3.4kw</td>
                            <td align="center" valign="middle">2.9kw</td>
                            <td align="center" valign="middle">2.5kw</td>
                            <td align="center" valign="middle">2.3kw</td>
                            <td align="center" valign="middle">2.0kw</td>
                            <td align="center" valign="middle">2.0kw</td>
                            <td align="center" valign="middle">1.7kw</td>
                            <td align="center" valign="middle">1.6kw</td>
                        </tr>
                        <tr>
                            <td height="27" bgcolor="#c9c9c9" class="bmatterbold">300kWh</td>
                            <td height="27" align="center" valign="middle">4.1kw</td>
                            <td align="center" valign="middle">3.5kw</td>
                            <td align="center" valign="middle">3.0kw</td>
                            <td align="center" valign="middle">2.7kw</td>
                            <td align="center" valign="middle">2.4kw</td>
                            <td align="center" valign="middle">2.4kw</td>
                            <td align="center" valign="middle">2.0kw</td>
                            <td align="center" valign="middle">1.9kw</td>
                        </tr>
                        <tr>
                            <td height="27" class="bmatterbold">350kWh</td>
                            <td height="27" align="center" valign="middle">4.7kw</td>
                            <td align="center" valign="middle">4.1kw</td>
                            <td align="center" valign="middle">3.5kw</td>
                            <td align="center" valign="middle">3.2kw</td>
                            <td align="center" valign="middle">2.8kw</td>
                            <td align="center" valign="middle">2.8kw</td>
                            <td align="center" valign="middle">2.4kw</td>
                            <td align="center" valign="middle">2.2kw</td>
                        </tr>
                        <tr>
                            <td height="27" bgcolor="#e4e4e4" class="bmatterbold">400kWh</td>
                            <td height="27" align="center" valign="middle">5.4kw</td>
                            <td align="center" valign="middle">4.6kw</td>
                            <td align="center" valign="middle">4.1kw</td>
                            <td align="center" valign="middle">3.6kw</td>
                            <td align="center" valign="middle">3.2kw</td>
                            <td align="center" valign="middle">3.2kw</td>
                            <td align="center" valign="middle">2.7kw</td>
                            <td align="center" valign="middle">2.5kw</td>
                        </tr>
                        <tr>
                            <td height="27" class="bmatterbold">450kWh</td>
                            <td height="27" align="center" valign="middle">6.1kw</td>
                            <td align="center" valign="middle">5.2kw</td>
                            <td align="center" valign="middle">4.6kw</td>
                            <td align="center" valign="middle">4.1kw</td>
                            <td align="center" valign="middle">3.6kw</td>
                            <td align="center" valign="middle">3.6kw</td>
                            <td align="center" valign="middle">3.0kw</td>
                            <td align="center" valign="middle">2.8kw</td>
                        </tr>
                        <tr>
                            <td height="27" bgcolor="#dadada" class="bmatterbold">500kWh</td>
                            <td height="27" align="center" valign="middle">6.8kw</td>
                            <td align="center" valign="middle">5.8kw</td>
                            <td align="center" valign="middle">5.1kw</td>
                            <td align="center" valign="middle">4.5kw</td>
                            <td align="center" valign="middle">4.1kw</td>
                            <td align="center" valign="middle">4.1kw</td>
                            <td align="center" valign="middle">3.4kw</td>
                            <td align="center" valign="middle">3.1kw</td>
                        </tr>
                        <tr>
                            <td height="27" class="bmatterbold">550kWh</td>
                            <td height="27" align="center" valign="middle">7.4kw</td>
                            <td align="center" valign="middle">6.4kw</td>
                            <td align="center" valign="middle">5.6kw</td>
                            <td align="center" valign="middle">5.0kw</td>
                            <td align="center" valign="middle">4.5kw</td>
                            <td align="center" valign="middle">4.5kw</td>
                            <td align="center" valign="middle">3.7kw</td>
                            <td align="center" valign="middle">3.4kw</td>
                        </tr>
                        <tr>
                            <td height="27" bgcolor="#c9c9c9" class="bmatterbold">600kWh</td>
                            <td height="27" align="center" valign="middle">8.1kw</td>
                            <td align="center" valign="middle">6.9kw</td>
                            <td align="center" valign="middle">6.1kw</td>
                            <td align="center" valign="middle">5.4kw</td>
                            <td align="center" valign="middle">4.9kw</td>
                            <td align="center" valign="middle">4.9kw</td>
                            <td align="center" valign="middle">4.1kw</td>
                            <td align="center" valign="middle">3.7kw</td>
                        </tr>
                        <tr>
                            <td height="27" class="bmatterbold">650kWh</td>
                            <td height="27" align="center" valign="middle">8.8kw</td>
                            <td align="center" valign="middle">7.5kw</td>
                            <td align="center" valign="middle">6.6kw</td>
                            <td align="center" valign="middle">5.9kw</td>
                            <td align="center" valign="middle">5.3kw</td>
                            <td align="center" valign="middle">5.3kw</td>
                            <td align="center" valign="middle">4.4kw</td>
                            <td align="center" valign="middle">4.1kw</td>
                        </tr>
                        <tr>
                            <td height="27" bgcolor="#e4e4e4" class="bmatterbold">700kWh</td>
                            <td height="27" align="center" valign="middle">9.5kw</td>
                            <td align="center" valign="middle">8.1kw</td>
                            <td align="center" valign="middle">7.1kw</td>
                            <td align="center" valign="middle">6.3kw</td>
                            <td align="center" valign="middle">5.7kw</td>
                            <td align="center" valign="middle">5.7kw</td>
                            <td align="center" valign="middle">4.7kw</td>
                            <td align="center" valign="middle">4.4kw</td>
                        </tr>
                        <tr>
                            <td height="27" class="bmatterbold">750kWh</td>
                            <td height="27" align="center" valign="middle">10.1kw</td>
                            <td align="center" valign="middle">8.7kw</td>
                            <td align="center" valign="middle">7.6kw</td>
                            <td align="center" valign="middle">6.8kw</td>
                            <td align="center" valign="middle">6.1kw</td>
                            <td align="center" valign="middle">6.1kw</td>
                            <td align="center" valign="middle">5.1kw</td>
                            <td align="center" valign="middle">4.7kw</td>
                        </tr>
                        <tr>
                            <td height="27" bgcolor="#dadada" class="bmatterbold">800kWh</td>
                            <td height="27" align="center" valign="middle">10.8kw</td>
                            <td align="center" valign="middle">9.3kw</td>
                            <td align="center" valign="middle">8.1kw</td>
                            <td align="center" valign="middle">7.2kw</td>
                            <td align="center" valign="middle">6.5kw</td>
                            <td align="center" valign="middle">6.5kw</td>
                            <td align="center" valign="middle">5.4kw</td>
                            <td align="center" valign="middle">5.0kw</td>
                        </tr>
                        <tr>
                            <td height="27" class="bmatterbold">850kWh</td>
                            <td height="27" align="center" valign="middle">11.5kw</td>
                            <td align="center" valign="middle">9.8kw</td>
                            <td align="center" valign="middle">8.6kw</td>
                            <td align="center" valign="middle">7.7kw</td>
                            <td align="center" valign="middle">6.9kw</td>
                            <td align="center" valign="middle">6.9kw</td>
                            <td align="center" valign="middle">5.7kw</td>
                            <td align="center" valign="middle">5.3kw</td>
                        </tr>
                        <tr>
                            <td height="27" bgcolor="#c9c9c9" class="bmatterbold">900kWh</td>
                            <td height="27" align="center" valign="middle">12.2kw</td>
                            <td align="center" valign="middle">10.4kw</td>
                            <td align="center" valign="middle">9.1kw</td>
                            <td align="center" valign="middle">8.1kw</td>
                            <td align="center" valign="middle">7.3kw</td>
                            <td align="center" valign="middle">7.3kw</td>
                            <td align="center" valign="middle">6.1kw</td>
                            <td align="center" valign="middle">5.6kw</td>
                        </tr>
                        <tr>
                            <td height="27" class="bmatterbold">950kWh</td>
                            <td height="27" align="center" valign="middle">12.8kw</td>
                            <td align="center" valign="middle">11.0kw</td>
                            <td align="center" valign="middle">9.6kw</td>
                            <td align="center" valign="middle">8.6kw</td>
                            <td align="center" valign="middle">7.7kw</td>
                            <td align="center" valign="middle">7.7kw</td>
                            <td align="center" valign="middle">6.4kw</td>
                            <td align="center" valign="middle">5.9kw</td>
                        </tr>
                        <tr>
                            <td height="27" bgcolor="#e4e4e4" class="bmatterbold">1000kWh</td>
                            <td height="27" align="center" valign="middle">13.5kw</td>
                            <td align="center" valign="middle">11.6kw</td>
                            <td align="center" valign="middle">10.1kw</td>
                            <td align="center" valign="middle">9.0kw</td>
                            <td align="center" valign="middle">8.1kw</td>
                            <td align="center" valign="middle">8.1kw</td>
                            <td align="center" valign="middle">6.8kw</td>
                            <td align="center" valign="middle">6.2kw</td>
                        </tr>
                        <tr>
                            <td height="27" class="bmatterbold">1050kWh</td>
                            <td height="27" align="center" valign="middle">14.2kw</td>
                            <td align="center" valign="middle">12.2kw</td>
                            <td align="center" valign="middle">10.6kw</td>
                            <td align="center" valign="middle">9.5kw</td>
                            <td align="center" valign="middle">8.5kw</td>
                            <td align="center" valign="middle">8.5kw</td>
                            <td align="center" valign="middle">7.1kw</td>
                            <td align="center" valign="middle">6.5kw</td>
                        </tr>
                        <tr>
                            <td height="27" bgcolor="#e4e4e4" class="bmatterbold">1100kWh</td>
                            <td height="27" align="center" valign="middle">14.9kw</td>
                            <td align="center" valign="middle">12.7kw</td>
                            <td align="center" valign="middle">11.1kw</td>
                            <td align="center" valign="middle">9.9kw</td>
                            <td align="center" valign="middle">8.9kw</td>
                            <td align="center" valign="middle">8.9kw</td>
                            <td align="center" valign="middle">7.4kw</td>
                            <td align="center" valign="middle">6.9kw</td>
                        </tr>
                        <tr>
                            <td height="27" class="bmatterbold">1150kWh</td>
                            <td height="27" align="center" valign="middle">15.5kw</td>
                            <td align="center" valign="middle">13.3kw</td>
                            <td align="center" valign="middle">11.6kw</td>
                            <td align="center" valign="middle">10.4kw</td>
                            <td align="center" valign="middle">9.3kw</td>
                            <td align="center" valign="middle">9.3kw</td>
                            <td align="center" valign="middle">7.8kw</td>
                            <td align="center" valign="middle">7.2kw</td>
                        </tr>
                        <tr>
                            <td height="27" bgcolor="#c9c9c9" class="bmatterbold">1200kWh</td>
                            <td height="27" align="center" valign="middle">16.2kw</td>
                            <td align="center" valign="middle">13.9kw</td>
                            <td align="center" valign="middle">12.2kw</td>
                            <td align="center" valign="middle">10.8kw</td>
                            <td align="center" valign="middle">9.7kw</td>
                            <td align="center" valign="middle">9.7kw</td>
                            <td align="center" valign="middle">8.1kw</td>
                            <td align="center" valign="middle">7.5kw</td>
                        </tr>
                        <tr>
                            <td height="27" class="bmatterbold">1250kWh</td>
                            <td height="27" align="center" valign="middle">16.9kw</td>
                            <td align="center" valign="middle">14.5kw</td>
                            <td align="center" valign="middle">12.7kw</td>
                            <td align="center" valign="middle">11.3kw</td>
                            <td align="center" valign="middle">10.1kw</td>
                            <td align="center" valign="middle">10.1kw</td>
                            <td align="center" valign="middle">8.4kw</td>
                            <td align="center" valign="middle">7.8kw</td>
                        </tr>
                        <tr>
                            <td height="27" bgcolor="#e4e4e4" class="bmatterbold">1300kWh</td>
                            <td height="27" align="center" valign="middle">17.6kw</td>
                            <td align="center" valign="middle">15.0kw</td>
                            <td align="center" valign="middle">13.2kw</td>
                            <td align="center" valign="middle">11.7kw</td>
                            <td align="center" valign="middle">10.5kw</td>
                            <td align="center" valign="middle">10.5kw</td>
                            <td align="center" valign="middle">8.8kw</td>
                            <td align="center" valign="middle">8.1kw</td>
                        </tr>
                        <tr>
                            <td height="27" class="bmatterbold">1350kWh</td>
                            <td height="27" align="center" valign="middle">18.2kw</td>
                            <td align="center" valign="middle">15.6kw</td>
                            <td align="center" valign="middle">13.7kw</td>
                            <td align="center" valign="middle">12.2kw</td>
                            <td align="center" valign="middle">10.9 kw</td>
                            <td align="center" valign="middle">10.9kw</td>
                            <td align="center" valign="middle">9.1kw</td>
                            <td align="center" valign="middle">8.4kw</td>
                        </tr>
                        <tr>
                            <td height="27" bgcolor="#e4e4e4" class="bmatterbold">1400kWh</td>
                            <td height="27" align="center" valign="middle">18.9kw</td>
                            <td align="center" valign="middle">16.2kw</td>
                            <td align="center" valign="middle">14.2kw</td>
                            <td align="center" valign="middle">12.6kw</td>
                            <td align="center" valign="middle">11.3kw</td>
                            <td align="center" valign="middle">11.3kw</td>
                            <td align="center" valign="middle">9.5kw</td>
                            <td align="center" valign="middle">8.7kw</td>
                        </tr>
                        <tr>
                            <td height="27" class="bmatterbold">1450kWh</td>
                            <td height="27" align="center" valign="middle">19.6kw</td>
                            <td align="center" valign="middle">16.8kw</td>
                            <td align="center" valign="middle">14. kw</td>
                            <td align="center" valign="middle">13.1kw</td>
                            <td align="center" valign="middle">11.7kw</td>
                            <td align="center" valign="middle">11.7kw</td>
                            <td align="center" valign="middle">9.8kw</td>
                            <td align="center" valign="middle">9.0kw</td>
                        </tr>
                        <tr>
                            <td height="27" bgcolor="#c9c9c9" class="bmatterbold">1500kWh</td>
                            <td height="27" align="center" valign="middle">20.3kw</td>
                            <td align="center" valign="middle">17.4kw</td>
                            <td align="center" valign="middle">15.2kw</td>
                            <td align="center" valign="middle">13.5kw</td>
                            <td align="center" valign="middle">12.2kw</td>
                            <td align="center" valign="middle">12.2kw</td>
                            <td align="center" valign="middle">10.1kw</td>
                            <td align="center" valign="middle">9.3kw</td>
                        </tr>
                        <tr>
                            <td height="27" class="bmatterbold">1550kWh</td>
                            <td height="27" align="center" valign="middle">20.9kw</td>
                            <td align="center" valign="middle">17.9kw</td>
                            <td align="center" valign="middle">15.7kw</td>
                            <td align="center" valign="middle">14.0kw</td>
                            <td align="center" valign="middle">12.6kw</td>
                            <td align="center" valign="middle">12.6kw</td>
                            <td align="center" valign="middle">10.5kw</td>
                            <td align="center" valign="middle">9.7kw</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
         <style type="text/css">

.right-rail h2{
color:#007DC3;
margin:15px 0px 5px 0;
}
.right-rail dt{
border-top:2px solid #D6D6D6;
padding:5px 0px;
color:#007DC3;
font-weight:700;
}
.right-rail dd{
margin-left:12px;
}
a.orangebox{
width:250px;
padding:10px;
}
</style>
 <div class="right-rail">
   
    
<h2>What is Residential Solar?</h2>
<p>
There are many terms for a residential solar energy system, such as grid-tie (tied into the energy grid), residential solar, and home solar. They all mean the same thing: a solar electric system that provides clean and renewable power from the sun.
</P>
	<h2>Get Started with Solar</h2>
	<h4>Step 1</h4>
		<p>Determine your usage <a class="lightbox" href="/site/images/gt_learning/ex_pnmbill.jpg">from your bill</a>.</p>
	<h4>Step 2</h4>
		<p>Have one of our experts <a href="/residential-solar-home/Request-a-Quote">design a custom system</a> or <a href="/store/grid-tie-kits">select a kit</a>.</p>
	<h4>Step 3</h4>
		<p><a href="/Find-an-Installer">Find an installer</a> in your local area.</p>
	
    </div>
    </div>
</td>


</tr>
</table>
</td>
</tr>
</table>
</td>

</tr>
</table>
</td>
</tr>

        </table>
    </div>
</td>
</tr></table>
</div>
<div id='div__footer' class='noprint' leftmargin='0' topmargin='0' marginwidth='1' marginheight='1'>
<!--ANALYTICS--><!--ANALYTICSTRACK-->
<script type="text/javascript" src="/site/js/lightbox-home-slider-min.js"></script>
<!--<script type="text/javascript" src="/site/js/lightbox.js"></script>-->
<script type="text/javascript">try {GAtracking()} catch(e) {};
jQuery(document).ready(function($) {if(jQuery("tr[name='edit your profile']").length){jQuery("tr[name='edit your profile']").parent().append('<tr name="change password"><td width="1%" class="pic">&nbsp;</td><td style="padding-left:1px" class="smalltext"><a class="dottedlink" href="https://checkout.netsuite.com/app/center/changepwd.nl?ck=gkELRLTgAY93zR-x&amp;vid=gkELRLTgAZd3zWui&amp;cktime=123060">Change Password</a></td></tr>');jQuery("tr[name='change password']").parent().append('<tr name="change email"><td width="1%" class="pic">&nbsp;</td><td style="padding-left:1px" class="smalltext"><a class="dottedlink" href="https://checkout.netsuite.com/app/center/changeemail.nl?ck=gkELRLTgAY93zR-x&amp;vid=gkELRLTgAZd3zWui&amp;cktime=123060">Change Email</a></td></tr>');jQuery("tr[name='change email']").parent().append('<tr name="subscription setting"><td width="1%" class="pic">&nbsp;</td><td style="padding-left:1px" class="smalltext"><a class="dottedlink" href="https://forms.netsuite.com/app/crm/marketing/campaignlistener.nl?__lstr=__su&amp;c=850709&amp;__h=e0743913dd3c5b86f744&amp;__e=61244&amp;ck=gkELRLTgAY93zR-x&amp;vid=gkELRLTgAZd3zWui&amp;cktime=123060">Subscription Settings</a></td></tr>');}});
</script>

<script type="text/javascript">
// hide certain options from user when registering
$(document).ready(function () {
$("#custentity_customer_category option[value='8']").remove();  
$("#custentity_customer_category option[value='7']").remove();  
});
</script>
<!-- AFS_FOOTER_SCRIPTS -->


<script type="text/javascript" language="javascript">
$(
	function()
	{
		try
		{
			$("div[class*='addcart']").closest('td').css("display", "none");
                        var addToCartColWidth = $("div[class*='addcart']").closest('td').width()
                        var stockMsgWidth = $("span[class*='stock-status-msg']").closest('td').width()
                        $("span[class*='stock-status-msg']").closest('td').attr("width", addToCartColWidth + stockMsgWidth)


			$("table[id='addtocart-box']").remove();
			$("div[class='addthis_toolbox addthis_default_style']").css("padding-top", "10px");

			var newCustomerTxt = 'New customer? Click here';
			var newLink = '<a href="/Installers/Affordable-Solar-Installer-Application" style="text-decoration: none; font-size: 16px; font-weight: bold;">Register For Dealer Login</a><br><br>'
			var tdClassSmallTextTotal = $("td[class='smalltext']").length;

			for (var dx = 0; dx <  tdClassSmallTextTotal; dx++)
			{
				var classSmallTextValue = $("td[class='smalltext']").eq(dx).text();
				if (classSmallTextValue == newCustomerTxt)
				{
					$("td[class='smalltext']").eq(dx).html(newLink);
				}
			}
		}
			catch(ex)
		{
			//console.log(ex.toString());
		}
	}
);
</script>
</div>
<iframe src='/empty.html' id='server_commands' style='visibility:hidden' height=0></iframe>
<script language="javascript" type="text/javascript">
var i=new Image();
i.src='/app/site/hit/tracker.nl?c=850709&n=1&type=store&sc=41&category=-141&it=I&itemid=4&referer='+escape(document.referrer);
i.onload=function(){nsVoid();};
function nsVoid(){return;};
</script>

</div></div>
<script language='JavaScript' type='text/javascript'>function page_init() {window.weekstart  ='1';
window.dateformat ='MM/DD/YYYY';
window.longdateformat ='Month DD, YYYY';
window.timeformat ='fmHH:fmMI am';
window.timeformatwithseconds ='fmHH:fmMI:SS am';
window.decimalseparator ='.';
window.groupseparator =',';
window.negativeprefix ='-';
window.negativesuffix ='';
window.number_blacklist_regex = new RegExp('[^\\.\\-\\d]','g');
window.datetime_am_string ='am';
window.datetime_pm_string ='pm';
window.datetime_short_months = new Array("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec","");window.phoneformat ="(123) 456-7890";window.loadcomplete = true;}
</script></body>
</html>



<!-- 452 s: 41% #98 co: 32% #200-->
<!-- #184/131 #1/4  #9-->
<!-- [ sh.j63.sv ] [ 2014.2.0.102 ]-->
<!-- [ 850709 ] [  ] [ /s.nl ] [ Wed Nov 26 12:36:50 PST 2014 ] -->
<!-- Not logging slowest SQL -->