<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Energy Analytics</title>


<meta name="description" content="Estimate your solar power requirements to calculates the size and number of solar panel systems needed for your solar system.">	<meta name="keywords" content="Solar Panels, Solar Power Panels, Solar Power Installation, System Sizer, System Sizing Estimator, System Sizing Calculator, Affordable Solar">	<meta name="robots" content="index, follow">	<meta name="googlebot" content="all, index, follow">	<meta name="author" content="Affordable Solar Group">	<meta name="copyright" content="© 2010 Affordable Solar Group, LLC. All rights reserved.">	<meta name="revisit-after" content="5 days">	<meta name="rating" content="General">	<meta name="distribution" content="global">

<meta content="IE=EmulateIE8" http-equiv="X-UA-Compatible">
<meta name="google-site-verification" content="zY0Bmv6EXl9-q01qL3fKWFV7nz8n0CzX8OZlWimTfbQ">


<script type="text/javascript">
 
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-295910-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
 
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 
</script>
<meta name="google-site-verification" content="zr-PvrwlqXUmBOWgoGYFYZW0-zLKQdnPzjyw2kzbFi0">
<meta name="msvalidate.01" content="FCE50D782EA819299F852CAC377CF6A1">
<meta name="msvalidate.01" content="C302F8E387DF6E2A70857E6D2206278B">
<meta name="y_key" content="5a4d51238edf65b5">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" >
<meta property="fb:admins" content="1805751482">
<!-- link rel="shortcut icon" href="http://www.affordable-solar.com/site/img/asgfavicon.ico" type="image/x-icon" -->
<link rel="stylesheet" href="http://www.affordable-solar.com/site/css/sc-afs-main-as.css?v=1.2.1"/>
<link rel="stylesheet" href="http://www.affordable-solar.com/site/css/extra-styles.css"/>
<style type="text/css">#leftcolumn, #breadcrumb { display: none !important; }
#mainContents { width: 942px !important; } </style>

<!--<link rel="stylesheet" href="http://www.affordable-solar.com/site/css/extra-styles.css"/>-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="http://www.thinkaffordablesolar.com/wp/wp-content/themes/affordable-solar/js/jq.checkNM.js"></script>

<!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="stylesheets/main.css" rel="stylesheet">

<style type="text/css"> #leftnav li[title="News"] { display: none; } </style><script language='JavaScript' type='text/javascript'>window.status='Loading...';</script><script type='text/javascript' src='/javascript/NLUtil.jsp__NS_VER=2014.2.0&amp;minver=102&amp;locale=en_US.nlqs'></script><script language='JavaScript' type='text/javascript'>window.status='';</script><script type='text/javascript'>ignoreResetDivSizes = true;</script>
<!-- v=2014.2.0.102 db=727 c=850709 n=1 rg=1 e=0 r=17 ct=WEBSITE isstore=T https=F
     id=I:4 cat= sc=41 sct=PRESENTATION thm=101 bll=i:110;c:111;r:100;cr:100;
     cart=-1 price=5 cur=1 lang=en_US partner=0 promocode=0 leadsource=
     sco=F
     page(candbc=F fromdbc=F vol=F) -->
<link rel='canonical' href='http://www.affordable-solar.com/residential-solar-home/Residential-Calculator'/>

<style>
#breadcrumb, #leftcolumn { display: none !important; }
#mainContents { width: 942px !important; }
</style>
<link rel='stylesheet' href='http://www.affordable-solar.com/core/styles/pagestyles.nl?ct=89&amp;bglt=E9F2E3&amp;bgmd=ACC49C&amp;bgdk=728367&amp;bgon=978368&amp;bgoff=CEC0A2&amp;bgbar=768784&amp;tasktitletext=FFFFFF&amp;crumbtext=FFFFFF&amp;headertext=FFFFFF&amp;ontab=FFFFFF&amp;offtab=000000&amp;text=000000&amp;link=000000&amp;bgbody=FFFFFF&amp;bghead=FFFFFF&amp;portlet=768784&amp;portletlabel=FFFFFF&amp;bgbutton=D2D2C8&amp;bgrequiredfld=FFFFE5&amp;font=Arial%2CHelvetica%2Csans-serif&amp;size_site_content=9pt&amp;size_site_title=9pt&amp;size=1.0&amp;nlinputstyles=T&amp;NS_VER=2014.2.0&amp;3'>


<script type="text/javascript">
function gt_check()
{ 
var a = Number(document.getElementById("txt_akwh").value);
var b = Number(document.getElementById("txt_sunhrs").value);
var percent = Number((document.getElementById('txt_percent').value) / 100);
var c = Math.round(((((a * percent) / 30) / b) / 0.80) * 1000);
var d = Number((c * 12) * 1.55);
var e = Number((c * 12 ) / 445);
var bill = Number(document.getElementById('txt_bill').value);
var sav1 = Number(bill * 12);
var sav15 = Number(bill * 180);
var sav20 = Number(bill * 240);
var houseval = Number(sav1 * 20);
document.getElementById("financial").innerHTML = "<br /><span style=\"padding:5px; width:98%; display:block; position:relative; background-color:#cccccc;\"><strong>Financial Benefits</strong></span>";
document.getElementById("utilize").innerHTML = "<p><strong>If you utilize solar for 100% of your electricity needs, </p></strong>";
document.getElementById("housevalue").innerHTML = "You will add $" + houseval + "in value to your home";
document.getElementById("savings1").innerHTML = "Over a year, you will save" +sav1+ " in electric bills ";
document.getElementById("savings15").innerHTML = "Over a year, you will save" +sav15+ " in electric bills ";
document.getElementById("savings20").innerHTML = "Over a year, you will save" +sav20+ " in electric bills ";
document.getElementById("wattage").innerHTML = "You will need a system producing " + (c / 1000) + " DC KW to cover " +Math.round(percent * 100)+ " % of your monthly power usage";
document.getElementById("environmental").innerHTML = "<span style=\"padding:5px; width:98%; display:block; position:relative; background-color:#cccccc;\"><strong>Environmental Benefits</strong></span><br />";
document.getElementById("trees").innerHTML = "You will eliminate " +Math.round(d)+ " lbs of C02 per year and this is equivalent to planting " +Math.round(e)+ " trees every year</strong><br />" ;	
}



</script>

</head>
<body bgcolor='#FFFFFF' link='#000000' vlink='#000000' alink='#000000' text='#000000' style='margin: 5px 0px 5px 0px;' onload="page_init()">
  <!-- Header Part -->
   <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Energy Analytics</a>
			<br>
			<div id="navigation">
 <a href="/">HOME &nbsp;&nbsp;&nbsp;</a>
    		<a href="/householdanalysis">OVERALL US ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/energyanalysis">STATE WISE ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/sectorAnalysis">SECTOR WISE ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/geo">GEOGRAPHICAL ENERGY PRODUCTION &nbsp;&nbsp;&nbsp;</a>
    		<a href="/electriccar">ELECTRIC CAR ENERGY ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/solarpanel">SOLAR PANEL ENERGY ANALYTICS &nbsp;&nbsp;&nbsp;</a>
    		<a href="/about">About Us</a>
    		</div>
    		</div>
      </div>
    </div>
    




<div id='outerwrapper' style='width: 990px;margin: 0 auto;'>
<div id='innerwrapper'>

<div id='div__header' 
class='noprint' 
leftmargin='0' topmargin='0' marginwidth='1'>
<table border='0' cellspacing='0' cellpadding='0' width='100%'>
<script type="text/javascript" src="/site/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" href="http://www.affordable-solar.com/site/js/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen">
<style>
.bgbutton {
	background-color: #353735 !important;
	border: none !important;
	font-weight:bold;
	padding: 3px 7px;
	color: #fff;
	font-size: 12px;
}
</style>
<tr>

</tr>
<tr>
    <td>
        <div id="shopping-header">
<span style="display:inline-block; vertical-align:top;padding-top:4px;" class="showing">

</span>
<span style="display:inline-block; vertical-align:top; padding-top:4px; padding-right: 20px;" class="invisible"><a style="" href="https://checkout.netsuite.com/app/center/nlvisitor.nl?c=850709&amp;sc=6&amp;ck=gkELRLTgAY93zR-x&amp;vid=gkELRLTgAZd3zWui&amp;cktime=123060">My Account</a> | <a style="" href="https://checkout.netsuite.com/s.nl?c=850709&amp;sc=4&amp;logoff=T&amp;ckabandon=SsoNoC2cAbZebwMT&amp;ck=gkELRLTgAY93zR-x&amp;vid=gkELRLTgAZd3zWui&amp;cktime=123060">Logout</a></span>
<span style="display:none;">
<a id="cart-header" href="/s.nl/sc.3/.f"><span style="float:left;margin-left:5px;">SHOPPING CART</span><span>$0.00</span></a>
</span>
</div>
</div>     
        </div>


        <div id="breadcrumb"><a class='crumb' onmouseover="this.className='crumbover';" onmouseout="this.className='crumb';"  href='/residential-solar-home' >Solar Kits</a>&nbsp;&gt;&nbsp;<span class="sharinglinks" style="display: inline-block; float: right; padding-top: 5px;clear:both;width:14%;"><div class="addthis_toolbox addthis_default_style">
	<a class="addthis_button_email"></a>
	<a class="addthis_button_facebook"></a>
	<a class="addthis_button_linkedin"></a>
	<a class="addthis_button_compact"></a>
<script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e330ef1576cc423"></script>
</div></span></div>

        <div id="dropdowns-container" class="invisible">
            <div class="children" style="width:415px;">
    <ul style="float:left; margin-right:10px;">
        <li><a href="/store/solar-batteries-accessories" title="Solar Batteries & Enclosures">&raquo; Batteries & Enclosures</a></li>
        <li><a href="/store/solar-charge-controller" title="Charge Controllers">&raquo; Charge Controllers</a></li>
        <li><a href="/store/renewable-energy-electrical" title="Electrical & Safety Supplies">&raquo; Electrical & Safety Supplies</a></li>
        <li><a href="/store/grid-tie-kits" title="Grid Tie Kits">&raquo; Grid Tie Kits</a></li>
        <li><a href="/store/solar-off-grid-remote" title="Off Grid Kits">&raquo; Off Grid Kits</a></li>
        <li><a href="/store/solar-inverters-accessories-cables" title="Inverters & Accessories">&raquo; Inverters & Accessories</a></li>
	</ul>
<ul>

        <li><a href="/store/power-panels-main" title="Power Panels">&raquo; Power Panels</a></li>
        <li><a href="/store/solar-panels" title="Solar Panels">&raquo; Solar Panels</a></li>
        <li><a href="/store/solar-panels-by-the-pallet" title="Solar Panels By Pallet">&raquo; Solar Panels By Pallet</a></li>
        <li><a href="/store/bos-meters" title="System Monitoring & Meters">&raquo; System Monitoring & Meters</a></li>
        <li><a href="/store/mounts-trackers" title="Mounts & Trackers">&raquo; Mounts & Trackers</a></li>
        <li></li>
</ul>
</div><div class="children">
    <ul>
        <li><a href="/Installers/Affordable-Solar-Installer-Application">&raquo; Apply For Wholesale Prices</a></li>
<li><a href="/Installers/Commercial-Project-Support">&raquo; Project Support</a></li>
<li><a href="/Installers/Platinum-Dealer-Program">&raquo; Platinum Dealer Program</a></li>
<li><a href="/Installers/Design-and-Engineering-Services">&raquo; Engineering Services</a></li>
 <li><a href="/finance" title="Get Solar Financing">&raquo; Solar Financing</a></li>
 <li><a href="/Installers/LA-Warehouse-solar-distributor" title="Get Solar Financing">&raquo; West Coast Warehouse</a></li>
        
    </ul>
</div><div class="children">
    <ul>
<li><a href="/store/grid-tie-kits" title="Grid Tie Solar Kits">&raquo; Grid Tie Kits</a></li>
<li><a href="/store/solar-off-grid-remote" title="Off Grid Solar Kits">&raquo; Off Grid Kits</a></li>
        <li><a href="/residential-solar-home/Residential-Calculator" title="Solar Energy Calculator">&raquo; Grid-Tie Estimator</a></li>
        <li><a href="/residential-solar-home/Off-Grid-Load-Estimator" title="Off Grid Solar Energy Calculator">&raquo; Off-Grid Estimator</a></li>
        <li><a href="/Find-an-Installer" title="Find a solar installer in your area">&raquo; Find An Installer</a></li>

        <!--<li><a href="/residential-solar-home/residential-solar-2" title="How Solar Works">&raquo; How It Works</a></li>
         <li><a href="/residential-solar-home/gt-whysolar" title="Solar FAQ">&raquo; FAQ's</a></li>
        <li><a href="/residential-solar-home/getting-started-with-solar">&raquo; Why Solar?</a></li> -->
        <li><a href="/residential-solar-home/financial-calculator">&raquo; Financial Incentives</a></li>
        <li><a href="/Find-an-Installer" title="Get a free solar estimate">&raquo; Request a Quote</a></li>
    </ul>
</div><div></div><div class="children">
    <ul>
        <li><a href="/commercial-solar/commercial-getstarted" title="How to get started with commercial solar">&raquo; Get Started</a></li>
        <li><a href="/commercial-solar/commercial-examplesystems" title="Examples of commercial solar systems">&raquo; Installation Portfolio</a></li>
 <li><a href="/Installers/Commercial-Project-Support" title="Get Solar Financing">&raquo; Project Support</a></li>
       <!-- <li><a href="/commercial-solar/commercial-howitworks" title="How solar works">&raquo; How It Works</a></li> -->
        <li><a href="/commercial-solar/Commercial-Projects-Questionnaire" title="Get a quote for your solar project">&raquo; Request a Quote</a></li>
    </ul>
</div><div class="children">
    <ul>
        <li><a href="/government-schools/Government-and-Schools-Application" title="Government and Schools Application" >&raquo; Request a Quote</a></li>


      </ul>
</div><div></div><div class="children">
    <ul>
        <li><a href="/Learning-Center/Solar-Basics">&raquo; Solar Basics</a></li>
        <li><a href="/Learning-Center/Building-a-System">&raquo; Building A System</a></li>
        <li><a href="/Learning-Center/System-Care">&raquo; System Care</a></li>
        <li><a href="/Learning-Center/Solar-Tools">&raquo; Solar Tools</a></li>
        <li><a href="/Learning-Center/Financial-Savings">&raquo; Financial Savings</a></li>
 <li><a href="/Learning-Center/Home-Installations">&raquo; Home Installations</a></li>
 <li><a href="/Learning-Center/Water-Pumping">&raquo; Water Pumping</a></li>
 <li><a href="/Learning-Center/Solar-Links">&raquo; Solar Links</a></li>
<li><a href="/Learning-Center/Solar-Manufacturers">&raquo; Solar Manufacturers</a></li>

    </ul>
</div><!--<div class="children">
    <ul>
        <li><a href="/support/gt-whysolar" title="Solar FAQs">&raquo; Solar FAQ's</a></li>
</ul>
</div>--><div class="children">
    <ul>
        <li><a href="/about-us/staff" title="Affordable Solar's Staff" >&raquo; Our Staff</a></li>
        <li><a href="/about-us/whyaffordable" title="Why you should chose Affordable Solar">&raquo; Why Affordable</a></li>
        <li><a href="/about-us/Contact-Us" title="Contact Affordable Solar">&raquo; Contact Us</a></li>
        <li><a href="/about-us/affordable-solar-support">&raquo; Support</a></li>
        <li><a href="/about-us/affordable-solar-employment">&raquo; Employment</a></li>

      </ul>
</div><!--DROPDOWN_NEWS--><!---->
        </div>
    </td>
</tr>
<script type="text/javascript">
    jQuery(function() { jQuery('#mainContents').prepend(jQuery('#breadcrumb')); });
    //show/hide logout and login links
    function generateUserInfo () {
        var cust = ""
        if(cust !== "") {
            //jQuery('#mainheader li.invisible').removeClass('invisible').addClass('showing');
            //jQuery('#mainheader li:first, #mainheader li:eq(1)').addClass('invisible').removeClass('showing');
            jQuery('#shopping-header span.invisible').removeClass('invisible').addClass('showing');
            jQuery('#shopping-header span:first').addClass('invisible').removeClass('showing');
        }
if ( jQuery('#tab41').show) { jQuery('#tab41').find('a').attr('href','http://www.affordable-solar.com/store/grid-tie-kits'); }
if ( jQuery('#tab1').show) { jQuery('#tab1').find('a').attr('href','http://www.affordable-solar.com/products'); }
if ( jQuery('#tab51').show) { jQuery('#tab51').remove(); }  //Remove Home tab from website
if ( jQuery('#tab48').show) { jQuery('#tab48').remove(); }    //Remove ASI tab from website
if ( jQuery('#tab49').show) { jQuery('#tab49').remove(); }    //Remove News tab from website
//if ( jQuery('#tab52').show) { jQuery('#tab52').remove(); }    //Remove News tab from website
}
  

    generateUserInfo();

    /** MOVE DROPDOWNS **/
    
</script></table></div>
<div id='div__title' style='margin: 0px;'></div>
<div id='div__label' class='scrollarea' style='margin: 0px; overflow:hidden;'></div>
<div id='div__body' style="margin: 0px;  margin-top: 3px;">
<table border='0' cellspacing='0' cellpadding='5' width='100%' id='__enclosingtable'><tr>
<td align="left" valign="top" id="leftcolumn">
    <div id="inner-sidebar">
        <div id="leftcolumnsource" style="display:none;">
            <table cellspacing="0" cellpadding="0">
                <tr class='portletHandle'  >
<td valign='top' width=100%>
<table width=100% border='0' cellspacing='0' cellpadding='0' style='margin-bottom: 10px;'>
<tr>
<td>
<table width='100%' border='0' cellspacing='0' cellpadding='2'>
<tr>
<td nowrap class='portletlabel' valign='top'><b><a href='/s.nl/sc.3/.f' class='portletlabel' style='text-decoration: none'>Shopping Cart</a></b></td>
</tr>
</table>
</td>
</tr>
<tr><td bgcolor='#000000' style='font-size: 0'><img src='/images/nav/stretch.gif' width='1' height='1'></td></tr><tr><td bgcolor='#939393' style='font-size: 0'><img src='/images/nav/stretch.gif' width='1' height='1'></td></tr><tr><td bgcolor='#D0D0D0' style='font-size: 0'><img src='/images/nav/stretch.gif' width='1' height='1'></td></tr>
<tr>
<td class='bglt'> 
<table border='0' cellspacing='0' cellpadding='2'  width=100%>
<tr>
<td valign='top' width='100%'>
<table class='list' border='0' cellspacing='0' cellpadding='2'>
<tr  ><td width='1%' class='pic'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></td>
<td style='padding-left:1px'  class='smalltext'>Your Cart is Empty</td></tr>
<tr  ><td width='1%' class='pic'><a href='/s.nl/sc.3/.f' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink smalltextul ' href='/s.nl/sc.3/.f'>View Cart</a></td></tr>
</table>
</td>

</tr>
</table>
</td>
</tr>
</table>
</td>

</tr>
<tr class='noprint'>
<td valign='top' width=160><img src='/images/nav/stretch.gif' width=160 height='0'></td>
</tr>
<tr class='portletHandle'  >
<td valign='top' width='100%'>
<table class='list' border='0' cellspacing='0' cellpadding='2'>
<tr  ><td width='1%' class='pic'><a href='/Installers' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink' href='/Installers'>Installers & Wholesale</a></td></tr>
<tr  ><td width='1%' class='pic'><a href='/residential-solar-home' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='textboldnolink'><a href='/residential-solar-home' class='textboldnolink'>Solar Kits</a></td></tr>
<tr  ><td width='1%' class='pic'><a href='/retail-diy' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink' href='/retail-diy'>Retail-DIY</a></td></tr>
<tr  ><td width='1%' class='pic'><a href='/commercial-solar' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink' href='/commercial-solar'>Commercial</a></td></tr>
<tr  ><td width='1%' class='pic'><a href='/government-schools' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink' href='/government-schools'>Gov & Schools</a></td></tr>
<tr  ><td width='1%' class='pic'><a href='/business-oem-application' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink' href='/business-oem-application'>Business & OEM</a></td></tr>
<tr  ><td width='1%' class='pic'><a href='/Learning-Center' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink' href='/Learning-Center'>Learn</a></td></tr>
<tr  ><td width='1%' class='pic'><a href='/about-us' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink' href='/about-us'>About Us</a></td></tr>
<tr  ><td width='1%' class='pic'><a href='/store' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink' href='/store'>Products</a></td></tr>
<tr  ><td width='1%' class='pic'><a href='/Search' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink' href='/Search'>Search</a></td></tr>
<tr  ><td width='1%' class='pic'><a href='/home' class='textboldnolink'><img class='iBullet' src='/images/nav/ns_x.gif' width='10' height='10' border=0></a></td>
<td style='padding-left:1px'  class='smalltext'><a class='dottedlink' href='/home'>Home</a></td></tr>
</table>
</td>




</tr>
<tr class='noprint'>
<td valign='top' width=160><img src='/images/nav/stretch.gif' width=160 height='0'></td>
</tr>

            </table>
        </div>
        <div class="box">
            <h5>Products</h5>
            <div id="navDestination" class="content">
            </div>
        </div>

        <!-- div id="rebates" class="box">
            <h5>Need an Installer?</h5>
            <a class="content" href="/find-an-installer"><img src="/site/img/rebate_map.png" alt="Solar Rebates"></a>
        </div-->
<div style="width: 215px;">
	<a href="http://www.newmexicoandsouthwestcolorado.bbb.org/BusinessReport.aspx?CompanyID=44654&amp;source=ctc">
		<img src="/site/images/home/bbb.jpg" alt="">
	</a> 
		<img src="/site/images/home/gsaschedule.gif" alt="GSA Schedule">

	<a href="http://www.ases.org/" target="_blank">
		<img src="/site/images/home/ases.gif" alt="American Solar Energy Soceity">
	</a>
	<a href="http://www.nabcep.org/">
		<img src="/site/images/home/nabcep.gif" alt="North American Board of Certified Energy Partners - NABCEP">
	</a>
</div>
<!--<div style="width:215px; text-align:center;">
<br>
<img src="/site/images/home/asg-nabcep-gold-sponsor.png" alt="Nabcep Gold level sponsor">
</div>-->
        <div id="morelinks" class="box">
            <a href="http://www.dsireusa.org/" class="orangebox" style="width:90%;"><span>&raquo;</span> Find Incentives</a>
			<!--a href="/Newsletter-Sign-Up" onclick="return popitup('http://www.affordable-solar.com/Newsletter-Sign-Up')" class="orangebox" style="width:90%;"><span>&raquo;</span> Sign up for our Newsletter!</a-->
        </div>

    </div>
</td>
<script type="text/javascript">
    (function(){
        function appendNav(lvl){
            var currentLevel = jQuery("#leftnav").find("li:has(.level-" + lvl + ")"), prevLevel = currentLevel.prev("li:has(.level-" + (lvl - 1) + ")").append("<ul class='lvl-" + (lvl - 1) + "'></ul>");
            currentLevel.find("a").removeClass("level-" + lvl);
            currentLevel.each(function(){
                jQuery(this).appendTo(jQuery(this).prevAll(":has(.lvl-" + (lvl - 1) + "):first").find("ul:first"));
            });
            lvl--;
            if (lvl > 0) 
                appendNav(lvl);
        }
        var leftSrc = jQuery("#leftcolumnsource").hide();
        jQuery('#navDestination').append('<ul id="leftnav"/>');
        var leftNav = jQuery("#leftnav"), navLvl = 0, currentLvl = 0;
        leftSrc.find("a:not(:has(img)):not(:empty)").addClass(function(){
            currentLvl = (jQuery(this).parent().parent().find("td").length + jQuery(this).parent().parent().find("td:first").attr("colspan") - 2);
            navLvl = (navLvl < currentLvl) ? currentLvl : navLvl;
            return "level-" + currentLvl;
        }).each(function(){
            jQuery(this).clone().appendTo(leftNav).wrap('<li title="' + jQuery(this).text() + '"></li>');
        })
        leftNav.find(".textboldnolink").removeClass("textboldnolink").parent().addClass("active");
        appendNav(navLvl);
        leftNav.find("li:has(.active)").addClass("active");
        leftNav.find('li:contains(New Releases)').attr('id', 'newReleases').children('a').first().attr('href', 'http://shopping.netsuite.com/s.nl/c.394134/sc.14/category.37674/ctype.SS/SS.37674/.f');
    })();
        jQuery("li[title='Home']").hide();
        jQuery("li[title='Finance']").hide();
        jQuery("li[title='Installers & Wholesale']").hide();
	jQuery("li[title='Solar Kits']").hide();
</script>
<td align="left" id="left_cart_" valign="top">
    
</td>
<td id="mainWrapper" valign="top">
    <div id="mainContents" class="class_-141">
        <table cellpadding="0" cellspacing="0" width="100%">
            <tr class='portletHandle' id='handle_itemMainPortlet' >
<td width='100%' height=0 align='left' valign='top'>
<table border=0 cellspacing=0 cellpadding=0 width='100%'>
<tr>
<td width=0 height=0 align='left' valign='top' style='display:none'>
<form method='post' name='form0' id='form0' action='/s.nl'>
<input type='hidden' name='c' value='850709'>
<input type='hidden' name='n' value='1'>
<input type='hidden' name='sc' value='41'>
<input type='hidden' name='category' value='-141'>
<input type='hidden' name='id' value='4'>
<input type='hidden' name='it' value='I'>
<input type='hidden' name='vid' value='gkELRLTgAZd3zWui'>
<input type='hidden' name='ck' value='gkELRLTgAY93zR-x'>
<input type='hidden' name='cktime' value='123060'>
<input type='hidden' name='cart' value='-1'>

</td>
</tr>
<tr>
</form>
<td valign='top' width='100%'>
<table width='100%' border='0' cellspacing='0' cellpadding='0'>
<tr valign='top'>
<td>
<table width='100%' border='0' cellspacing='0' cellpadding='5'>
<tr>


<!--How to use. Place <div id="tip"> around content you want to hover content around. Make the <a href="#" title="Content You Want Hovered">Link</a> -->
<link rel="stylesheet" href="http://www.affordable-solar.com/site/css/jquery.tooltip.css">
<script src="/site/js/jquery.tooltip.min.js" type="text/javascript"></script>
<script type="text/javascript"> 
$(function(){
    $('#tip a').tooltip({ 
      track: true, 
      delay: 0, 
      showURL: false, 
      fade: 250 
    });
});
</script>
<td>
<style>#dhtmltooltip, #dhtmlpointer { display: none !important; }</style>
<script type="text/javascript">var calculate = '';</script>
<script type="text/javascript" src="/site/js/generalFunctions.js"></script>
<script type="text/javascript" src="/site/js/static.js"></script>
    <div id="residential-calculator" class="main-content">
        <div id="detailed" class="left rciBorder">
            <h2 class="resText">System Sizer</h2>
            <h3 class="resText">Step 1</h3>
            <p class="rciText">
                Determine your monthly usage from your bill.
                This is measured in kWh per month.
            </p><br>
            <div class="rciMiddle">
                <div class="rciColumn left">
                    <h3 class="resText">Step 2</h3>
                    Find Your Sun Hours.<br><br>
                    <a href="/stylesheets/images/srmap.gif" class="lightbox">
                        <img src="/stylesheets/images/srmapsmall.gif" alt=""><br>
                    </a><a href="/stylesheets/images/srmap.gif" class="lightbox">Click to Enlarge</a><br>
                </div>
                <div class="rciColumn right">
                    <h3 style="padding: 0pt; margin: 0pt 0px 0pt 15px;" class="resText">Step 3</h3>
                    <p style="padding: 0pt; margin: 0pt 0px 0pt 15px;" class="rciText">Enter your information in the fields below.</p>
                    <div style="padding: 0pt 0pt 0pt 8px; margin: 0pt 15px;" class="rciBorder">
                        <form id="gt-form" name="gt-form" method="" action="">
                            <span class="rciText"><strong>Monthly electrical use</strong> <br>
                                 
                                    (average the kWH on your bill)
                                
                                
                            </span>
                            <span class="bmatter3">
                                

                                    
                                <br>
                                <input type="text" name="txt_akwh" class="input" id="txt_akwh" value="" size="10">
                            </span>
                            <span class="bmatternormal"> kwh per month<br>
                            </span>
                            <br>
                            <span class="bmatternormal" style="width: 45%; text-align: left;">
                                <strong>Monthly electrical bill </strong><br>
                                (average of your monthly bills) </span> <span class="bmatternormal" style="width: 20%; text-align: left;"><br>$
                                <input type="text" name="txt_bill" class="input" id="txt_bill" value="" size="10">
                            </span><br>

                            <br>
                            Percentage of your usage you want to cover with solar power*
                            <br>
                            <span class="bmatternormal">
                                <input type="text" name="txt_percent" class="input" id="txt_percent" value="" size="10">
                                %                             <div id="tip">
							<a title="This is the percentage of your electric usage(kWh) you would like to cover with your solar system."></a>
							</div></span><br>
                            <br>
                            <strong>Average peak sun hours for your location <br></strong>(avg 6 in Sun Belt, 4in NE / NW)*
                            <div id="tip">
							<a href="#" title="For simplicity, just click on your area in the map of the US.
                                If you know your solar insolation you can enter it in number form from 1 - 7.
                                The map provides an annual average and therefor is a conservative number.
                                Note: This is not the amount of hours a day the sun is out in your area.">
							</div>
                            <div class="bmatternormal" id="sunhours" style="display: none;">
                                For simplicity, just click on your area in the map of the US.
                                If you know your solar insolation you can enter it in number form from 1 - 7.
                                The map provides an annual average and therefor is a conservative number.
                                Note: This is not the amount of hours a day the sun is out in your area.
                            </div>
                            <input type="text" name="txt_sunhrs" class="input" id="txt_sunhrs" value="" size="10">
                            sun hours
                            <br>
                            <input type="submit" style="margin: 10px; width: 80px;" name="submit" id="submit" value="Calculate" class="button" onclick="gt_check(); return false;">
                        </form>
                    </div>
                    <br>
                </div>
                <br>
                <p style="clear: both;"></p>
                <p style="display: none; visibility: hidden; clear: both;"></p>
                <div id="rec_system"></div>
                <div id="system"></div><br>
                <b><div id="wattage"></div></b>
                <div id="financial"></div>
                <div id="utilize"></div>
                <div id="housevalue"></div>
                <div id="savings1"></div>
                <div id="savings15"></div>
                <div id="savings20"></div><br>
                <div id="environmental"></div>
                <div id="trees"></div>
            </div>
            <div id="manual-table" class="rciBottom">
                <h3 class="resText">Sun Hours Chart By State</h3><p>Look at the chart below to get the number of hours per day the Sun shines on your house. Just find the closest big city.</p>
                
                <p class="rciText">
                <table id="city-solar-table" class="table table-striped table-bordered table-hover">
<thead>
<tr>
<th>State</th>
<th>City</th>
<th>Avg</th>
<th></th>
<th>State</th>
<th>City</th>
<th>Avg</th>
</tr>
</thead>
<tbody>
<tr>
<td align="center" width="69" height="21">AK</td>
<td width="154" height="21">Fairbanks</td>
<td>3.99</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">MO</td>
<td width="141" height="21">Columbia</td>
<td>4.73</td>
</tr>
<tr>
<td align="center" width="69" height="21">AK</td>
<td width="154" height="21">Matanuska</td>
<td>3.55</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">MO</td>
<td width="141" height="21">St. Louis</td>
<td>4.38</td>
</tr>
<tr>
<td align="center" width="69" height="21">AL</td>
<td width="154" height="21">Montgomery</td>
<td>4.23</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">MS</td>
<td width="141" height="21">Meridian</td>
<td>4.43</td>
</tr>
<tr>
<td align="center" width="69" height="21">AR</td>
<td width="154" height="21">Bethel</td>
<td>3.81</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">MT</td>
<td width="141" height="21">Glasgow</td>
<td>5.15</td>
</tr>
<tr>
<td align="center" width="69" height="21">AR</td>
<td>4.69</td>
<td width="154" height="21">Little Rock</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">MT</td>
<td width="141" height="21">Great Falls</td>
<td>4.93</td>
</tr>
<tr>
<td align="center" width="69" height="21">AZ</td>
<td width="154" height="21">Tuscon</td>
<td>6.57</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">MT</td>
<td width="141" height="21">Summit</td>
<td>3.99</td>
</tr>
<tr>
<td align="center" width="69" height="21">AZ</td>
<td width="154" height="21">Page</td>
<td>6.36</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">NM</td>
<td width="141" height="21">Albuquerque</td>
<td>6.77</td>
</tr>
<tr>
<td align="center" width="69" height="21">AZ</td>
<td width="154" height="21">Pheonix</td>
<td>6.58</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">NB</td>
<td width="141" height="21">Lincoln</td>
<td>4.79</td>
</tr>
<tr>
<td align="center" width="69" height="21">CA</td>
<td width="154" height="21">Santa Maria</td>
<td>5.94</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">NB</td>
<td width="141" height="21">N. Omaha</td>
<td>4.90</td>
</tr>
<tr>
<td align="center" width="69" height="21">CA</td>
<td width="154" height="21">Riverside</td>
<td>5.87</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">NC</td>
<td width="141" height="21">Cape Hatteras</td>
<td>5.31</td>
</tr>
<tr>
<td align="center" width="69" height="21">CA</td>
<td width="154" height="21">Davis</td>
<td>5.10</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">NC</td>
<td width="141" height="21">Greensboro</td>
<td>4.71</td>
</tr>
<tr>
<td align="center" width="69" height="21">CA</td>
<td width="154" height="21">Fresno</td>
<td>5.38</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">ND</td>
<td width="141" height="21">Bismark</td>
<td>5.01</td>
</tr>
<tr>
<td align="center" width="69" height="21">CA</td>
<td width="154" height="21">Los Angeles</td>
<td>5.62</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">NJ</td>
<td width="141" height="21">Sea Brook</td>
<td>4.21</td>
</tr>
<tr>
<td align="center" width="69" height="21">CA</td>
<td width="154" height="21">Soda Springs</td>
<td>5.60</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">NV</td>
<td width="141" height="21">Las Vegas</td>
<td>6.41</td>
</tr>
<tr>
<td align="center" width="69" height="21">CA</td>
<td width="154" height="21">La Jolla</td>
<td>4.77</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">NV</td>
<td width="141" height="21">Ely</td>
<td>5.98</td>
</tr>
<tr>
<td align="center" width="69" height="21">CA</td>
<td width="154" height="21">Inyokern</td>
<td>7.66</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">NY</td>
<td width="141" height="21">Binghampton</td>
<td>3.16</td>
</tr>
<tr>
<td align="center" width="69" height="21">CO</td>
<td width="154" height="21">Grandby</td>
<td>5.69</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">NY</td>
<td width="141" height="21">Ithica</td>
<td>3.79</td>
</tr>
<tr>
<td align="center" width="69" height="21">CO</td>
<td width="154" height="21">Grand Lake</td>
<td>5.08</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">NY</td>
<td width="141" height="21">Schenetady</td>
<td>3.55</td>
</tr>
<tr>
<td align="center" width="69" height="21">CO</td>
<td width="154" height="21">Grand Junction</td>
<td>5.85</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">NY</td>
<td width="141" height="21">Rochester</td>
<td>3.31</td>
</tr>
<tr>
<td align="center" width="69" height="21">CO</td>
<td width="154" height="21">Boulder</td>
<td>4.87</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">NY</td>
<td width="141" height="21">New York City</td>
<td>4.08</td>
</tr>
<tr>
<td align="center" width="69" height="21">DC</td>
<td width="154" height="21">Washington</td>
<td>4.23</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">OH</td>
<td width="141" height="21">Columbus</td>
<td>4.15</td>
</tr>
<tr>
<td align="center" width="69" height="21">FL</td>
<td width="154" height="21">Apalachicola</td>
<td>5.49</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">OH</td>
<td width="141" height="21">Cleveland</td>
<td>3.94</td>
</tr>
<tr>
<td align="center" width="69" height="21">FL</td>
<td width="154" height="21">Belie Is.</td>
<td>4.99</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">OK</td>
<td width="141" height="21">Stillwater</td>
<td>4.99</td>
</tr>
<tr>
<td align="center" width="69" height="21">FL</td>
<td width="154" height="21">Miami</td>
<td>5.62</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">OK</td>
<td width="141" height="21">Oklahoma City</td>
<td>5.59</td>
</tr>
<tr>
<td align="center" width="69" height="21">FL</td>
<td width="154" height="21">Gainsville</td>
<td>5.27</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">OR</td>
<td width="141" height="21">Astoria</td>
<td>3.72</td>
</tr>
<tr>
<td align="center" width="69" height="21">FL</td>
<td width="154" height="21">Tampa</td>
<td>5.67</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">OR</td>
<td width="141" height="21">Corvallis</td>
<td>4.03</td>
</tr>
<tr>
<td align="center" width="69" height="21">GA</td>
<td width="154" height="21">Atlanta</td>
<td>4.74</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">OR</td>
<td width="141" height="21">Medford</td>
<td>4.51</td>
</tr>
<tr>
<td align="center" width="69" height="21">GA</td>
<td width="154" height="21">Griffin</td>
<td>4.99</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">PA</td>
<td width="141" height="21">Pittsburg</td>
<td>3.28</td>
</tr>
<tr>
<td align="center" width="69" height="21">HI</td>
<td width="154" height="21">Honolulu</td>
<td>6.02</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">PA</td>
<td width="141" height="21">State College</td>
<td>3.91</td>
</tr>
<tr>
<td align="center" width="69" height="21">IA</td>
<td width="154" height="21">Ames</td>
<td>4.40</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">RI</td>
<td width="141" height="21">Newport</td>
<td>4.23</td>
</tr>
<tr>
<td align="center" width="69" height="21">ID</td>
<td width="154" height="21">Boise</td>
<td>4.92</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">SC</td>
<td width="141" height="21">Charleston</td>
<td>5.06</td>
</tr>
<tr>
<td align="center" width="69" height="21">ID</td>
<td width="154" height="21">Twin Falls</td>
<td>4.70</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">SD</td>
<td width="141" height="21">Rapid City</td>
<td>5.23</td>
</tr>
<tr>
<td align="center" width="69" height="21">IL</td>
<td width="154" height="21">Chicago</td>
<td>3.14</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">TN</td>
<td width="141" height="21">Nashville</td>
<td>4.45</td>
</tr>
<tr>
<td align="center" width="69" height="21">IN</td>
<td width="154" height="21">Indianapolis</td>
<td>4.21</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">TN</td>
<td width="141" height="21">Oak Ridge</td>
<td>4.37</td>
</tr>
<tr>
<td align="center" width="69" height="21">KN</td>
<td width="154" height="21">Manhattan</td>
<td>4.57</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">TX</td>
<td width="141" height="21">San Antonio</td>
<td>5.30</td>
</tr>
<tr>
<td align="center" width="69" height="21">KN</td>
<td width="154" height="21">Dodge City</td>
<td>5.79</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">TX</td>
<td width="141" height="21">Brownsville</td>
<td>4.92</td>
</tr>
<tr>
<td align="center" width="69" height="21">KY</td>
<td width="154" height="21">Lexington</td>
<td>4.94</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">TX</td>
<td width="141" height="21">El Paso</td>
<td>6.72</td>
</tr>
<tr>
<td align="center" width="69" height="21">LA</td>
<td width="154" height="21">Lake Charles</td>
<td>4.93</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">TX</td>
<td width="141" height="21">Midland</td>
<td>5.83</td>
</tr>
<tr>
<td align="center" width="69" height="21">LA</td>
<td width="154" height="21">New Orleans</td>
<td>4.92</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">TX</td>
<td width="141" height="21">Fort Worth</td>
<td>5.43</td>
</tr>
<tr>
<td align="center" width="69" height="21">LA</td>
<td width="154" height="21">Shreveport</td>
<td>4.63</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">UT</td>
<td width="141" height="21">Salt Lake City</td>
<td>5.26</td>
</tr>
<tr>
<td align="center" width="69" height="21">MA</td>
<td width="154" height="21">E. Wareham</td>
<td>3.99</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">UT</td>
<td width="141" height="21">Flaming Gorge</td>
<td>5.83</td>
</tr>
<tr>
<td align="center" width="69" height="21">MA</td>
<td width="154" height="21">Boston</td>
<td>3.84</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">VA</td>
<td width="141" height="21">Richmond</td>
<td>4.13</td>
</tr>
<tr>
<td align="center" width="69" height="21">MA</td>
<td width="154" height="21">Blue Hill</td>
<td>4.05</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">WA</td>
<td width="141" height="21">Seattle</td>
<td>3.57</td>
</tr>
<tr>
<td align="center" width="69" height="21">MA</td>
<td width="154" height="21">Natick</td>
<td>4.10</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">WA</td>
<td width="141" height="21">Richland</td>
<td>4.44</td>
</tr>
<tr>
<td align="center" width="69" height="21">MA</td>
<td width="154" height="21">Lynn</td>
<td>3.79</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">WA</td>
<td width="141" height="21">Pullman</td>
<td>4.73</td>
</tr>
<tr>
<td align="center" width="69" height="21">MD</td>
<td width="154" height="21">Silver Hill</td>
<td>4.47</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">WA</td>
<td width="141" height="21">Spokane</td>
<td>4.48</td>
</tr>
<tr>
<td align="center" width="69" height="21">ME</td>
<td width="154" height="21">Caribou</td>
<td>4.19</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">WA</td>
<td width="141" height="21">Prosser</td>
<td>5.03</td>
</tr>
<tr>
<td align="center" width="69" height="21">ME</td>
<td width="154" height="21">Portland</td>
<td>4.51</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">WI</td>
<td width="141" height="21">Madison</td>
<td>4.29</td>
</tr>
<tr>
<td align="center" width="69" height="21">MI</td>
<td width="154" height="21">Sault Ste. Marie</td>
<td>4.20</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">WV</td>
<td width="141" height="21">Charleston</td>
<td>3.65</td>
</tr>
<tr>
<td align="center" width="69" height="21">MI</td>
<td width="154" height="21">E. Lansing</td>
<td>4.00</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21">WY</td>
<td width="141" height="21">Lander</td>
<td>6.06</td>
</tr>
<tr>
<td align="center" width="69" height="21">MN</td>
<td width="154" height="21">St. Cloud</td>
<td>4.53</td>
<td align="center" width="18" height="21"></td>
<td align="center" width="68" height="21"></td>
<td width="141" height="21"></td>
<td></td>
</tr>
</tbody>
</table>
                     
                </p>
              </div>
        </div>
        
        <style type="text/css">

.right-rail h2{
color:#007DC3;
margin:15px 0px 5px 0;
}
.right-rail dt{
border-top:2px solid #D6D6D6;
padding:5px 0px;
color:#007DC3;
font-weight:700;
}
.right-rail dd{
margin-left:12px;
}
a.orangebox{
width:250px;
padding:10px;
}
</style>
 <div class="right-rail">
   
    
<h2>What is Residential Solar?</h2>
<p>
There are many terms for a residential solar energy system, such as grid-tie (tied into the energy grid), residential solar, and home solar. They all mean the same thing: a solar electric system that provides clean and renewable power from the sun.
</P>
	    </div>
    </div>
</td>


</tr>
</table>
</td>
</tr>
</table>
</td>

</tr>
</table>
</td>
</tr>

        </table>
    </div>
</td>
</tr></table>
</div>
<div id='div__footer' class='noprint' leftmargin='0' topmargin='0' marginwidth='1' marginheight='1'>
<!--ANALYTICS--><!--ANALYTICSTRACK-->
<script type="text/javascript" src="/site/js/lightbox-home-slider-min.js"></script>
<!--<script type="text/javascript" src="/site/js/lightbox.js"></script>-->
<script type="text/javascript">try {GAtracking()} catch(e) {};
jQuery(document).ready(function($) {if(jQuery("tr[name='edit your profile']").length){jQuery("tr[name='edit your profile']").parent().append('<tr name="change password"><td width="1%" class="pic">&nbsp;</td><td style="padding-left:1px" class="smalltext"><a class="dottedlink" href="https://checkout.netsuite.com/app/center/changepwd.nl?ck=gkELRLTgAY93zR-x&amp;vid=gkELRLTgAZd3zWui&amp;cktime=123060">Change Password</a></td></tr>');jQuery("tr[name='change password']").parent().append('<tr name="change email"><td width="1%" class="pic">&nbsp;</td><td style="padding-left:1px" class="smalltext"><a class="dottedlink" href="https://checkout.netsuite.com/app/center/changeemail.nl?ck=gkELRLTgAY93zR-x&amp;vid=gkELRLTgAZd3zWui&amp;cktime=123060">Change Email</a></td></tr>');jQuery("tr[name='change email']").parent().append('<tr name="subscription setting"><td width="1%" class="pic">&nbsp;</td><td style="padding-left:1px" class="smalltext"><a class="dottedlink" href="https://forms.netsuite.com/app/crm/marketing/campaignlistener.nl?__lstr=__su&amp;c=850709&amp;__h=e0743913dd3c5b86f744&amp;__e=61244&amp;ck=gkELRLTgAY93zR-x&amp;vid=gkELRLTgAZd3zWui&amp;cktime=123060">Subscription Settings</a></td></tr>');}});
</script>

<script type="text/javascript">
// hide certain options from user when registering
$(document).ready(function () {
$("#custentity_customer_category option[value='8']").remove();  
$("#custentity_customer_category option[value='7']").remove();  
});
</script>
<!-- AFS_FOOTER_SCRIPTS -->


<script type="text/javascript" language="javascript">
$(
	function()
	{
		try
		{
			$("div[class*='addcart']").closest('td').css("display", "none");
                        var addToCartColWidth = $("div[class*='addcart']").closest('td').width()
                        var stockMsgWidth = $("span[class*='stock-status-msg']").closest('td').width()
                        $("span[class*='stock-status-msg']").closest('td').attr("width", addToCartColWidth + stockMsgWidth)


			$("table[id='addtocart-box']").remove();
			$("div[class='addthis_toolbox addthis_default_style']").css("padding-top", "10px");

			var newCustomerTxt = 'New customer? Click here';
			var newLink = '<a href="/Installers/Affordable-Solar-Installer-Application" style="text-decoration: none; font-size: 16px; font-weight: bold;">Register For Dealer Login</a><br><br>'
			var tdClassSmallTextTotal = $("td[class='smalltext']").length;

			for (var dx = 0; dx <  tdClassSmallTextTotal; dx++)
			{
				var classSmallTextValue = $("td[class='smalltext']").eq(dx).text();
				if (classSmallTextValue == newCustomerTxt)
				{
					$("td[class='smalltext']").eq(dx).html(newLink);
				}
			}
		}
			catch(ex)
		{
			//console.log(ex.toString());
		}
	}
);
</script>
</div>
<iframe src='/empty.html' id='server_commands' style='visibility:hidden' height=0></iframe>
<script language="javascript" type="text/javascript">
var i=new Image();
i.src='/app/site/hit/tracker.nl?c=850709&n=1&type=store&sc=41&category=-141&it=I&itemid=4&referer='+escape(document.referrer);
i.onload=function(){nsVoid();};
function nsVoid(){return;};
</script>

</div></div>
<script language='JavaScript' type='text/javascript'>function page_init() {window.weekstart  ='1';
window.dateformat ='MM/DD/YYYY';
window.longdateformat ='Month DD, YYYY';
window.timeformat ='fmHH:fmMI am';
window.timeformatwithseconds ='fmHH:fmMI:SS am';
window.decimalseparator ='.';
window.groupseparator =',';
window.negativeprefix ='-';
window.negativesuffix ='';
window.number_blacklist_regex = new RegExp('[^\\.\\-\\d]','g');
window.datetime_am_string ='am';
window.datetime_pm_string ='pm';
window.datetime_short_months = new Array("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec","");window.phoneformat ="(123) 456-7890";window.loadcomplete = true;}</script>


<!-- Footer code  -->
<!-- Footer code  -->
<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>Copyright</h4>
					<p>
						TEAM - 20 <br>
						CMPE-272 <br>
						San Jose State University <br>
						Fall-2014
						
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<!--h4>My Links</h4>
					< p>
						
						<a href="http://twitter.com">Follow us on Twitter</a><br/>
						<a href="http://facebook.com">Like us on Facebook</a>
					</p -->
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>About Energy Analytics</h4>
          <p>Energy Analytics Description</p>
				</div><!-- /col-lg-4 -->
			
			</div>
		
		</div>
	</div>



</body></html>